<div id="device_<%= device.id %>" class="device" 
     data-device-id="<%= device.id %>"
     data-device-name="<%= device.name %>"
     <% if device.state&.latitude1.present? && device.state&.longitude1.present? %>
     data-device-lat="<%= device.state.latitude1 %>"
     data-device-lng="<%= device.state.longitude1 %>"
     data-device-battery1="<%= device.state.battery1_percent %>"
     data-device-battery2="<%= device.state.battery2_percent %>"
     <% end %>
     data-controller="device-update">

<p>
<%= render "devices/summaryline", device: device %> 
</p>

<% if device.latest_photograph != nil %>
  <%= render device.latest_photograph %>
<% else %>
  <p class="placeholder">Image unavailable.</p>
<% end %>

<% if device.state != nil %>
  <%= render device.state %>
<% else %>
  <p class="placeholder">Device state unavailable.</p>
<% end %>
  </div>
