<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  Logged in as <%= current_user.email %> |
  <%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to 'Log In', new_user_session_path %> |
<% end %>

<% content_for :title, "Devices" %>

<h1>Devices</h1>

<div id="devices">
  <% @devices.each do |device| %>
    <%= render device %>
    <p>
      <%= link_to "Show this device", device %>
    </p>
  <% end %>
</div>

<script>

  <% @devices.each do |device| %>
  <% if device.state !=  nil %>  
  var latlng = new L.latLng(<%= device.state.latitude1 %>,<%= device.state.longitude1 %>)
  var map = L.map('map').setView(latlng, 17);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  var marker = L.marker([<%= device.state.latitude1 %>,<%= device.state.longitude1 %>]).addTo(map);
  <% end %>
  <% end %>
</script>