<div id="<%= dom_id audio_recording %>">
  <p>
    <strong>Device:</strong>
    <%= audio_recording.device_id %>
  </p>

  <p>
    <strong>Command:</strong>
    <%= audio_recording.command_id %>
  </p>

  <p>
    <strong>Recorded at:</strong>
    <%= audio_recording.recorded_at %>
  </p>

  <p>
    <strong>Duration seconds:</strong>
    <%= audio_recording.duration_seconds %>
  </p>

</div>
