<%= form_with(model: audio_recording) do |form| %>
  <% if audio_recording.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(audio_recording.errors.count, "error") %> prohibited this audio_recording from being saved:</h2>

      <ul>
        <% audio_recording.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :device_id, style: "display: block" %>
    <%= form.text_field :device_id %>
  </div>

  <div>
    <%= form.label :command_id, style: "display: block" %>
    <%= form.text_field :command_id %>
  </div>

  <div>
    <%= form.label :recorded_at, style: "display: block" %>
    <%= form.datetime_field :recorded_at %>
  </div>

  <div>
    <%= form.label :duration_seconds, style: "display: block" %>
    <%= form.number_field :duration_seconds %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
