<details>
  <Summary class="summary-details">Location</Summary>
  <ul>
    <li>
      <var>Latitude 1:</var>
      <var class="value"><%= device_state.latitude1 %></var>
    </li>

    <li>
      <var>Longitude 1:</var>
      <var class="value"><%= device_state.longitude1 %></var>
    </li>

    <li>
      <var>GPS 1 Status:</var>
      <var class="value"><%= device_state.gps1_status %></var>
    </li>

    <li>
      <var>GPS 1 Timestamp:</var>
      <var class="value"><%= device_state.gps1_timestamp %></var>
    </li>

    <li>
      <var>Satellite Count 1:</var>
      <var class="value"><%= device_state.satcount1 %></var>
    </li>

    <li>
      <var>GPS 1 Altitude:</var>
      <var class="value"><%= device_state.gps1_altitude %></var>
    </li>

    <li>
      <var>GPS 1 Speed:</var>
      <var class="value"><%= device_state.gps1_speed %></var>
    </li>

    <li>
      <var>GPS 1 Heading:</var>
      <var class="value"><%= device_state.gps1_heading %></var>
    </li>

    <li>
      <var>GPS 1 HDOP:</var>
      <var class="value"><%= device_state.gps1_hdop %></var>
    </li>

    <li>
      <var>GPS 1 Fix Type:</var>
      <var class="value"><%= device_state.gps1_fix_type %></var>
    </li>

    <li>
      <var>Latitude 2:</var>
      <var class="value"><%= device_state.latitude2 %></var>
    </li>

    <li>
      <var>Longitude 2:</var>
      <var class="value"><%= device_state.longitude2 %></var>
    </li>

    <li>    
      <var>Gps2 status:</var>
      <var class="value"><%= device_state.gps2_status %></var>
      <var>GPS 2 Status:</var>
      <var class="value"><%= device_state.gps2_status %></var>
    </li>

    <li>
      <var>GPS 2 Timestamp:</var>
      <var class="value"><%= device_state.gps2_timestamp %></var>
    </li>

    <li>
      <var>Satellite Count 2:</var>
      <var class="value"><%= device_state.satcount2 %></var>
    </li>

    <li>
      <var>GPS 2 Altitude:</var>
      <var class="value"><%= device_state.gps2_altitude %></var>
    </li>

    <li>
      <var>GPS 2 Speed:</var>
      <var class="value"><%= device_state.gps2_speed %></var>
    </li>

    <li>
      <var>GPS 2 Heading:</var>
      <var class="value"><%= device_state.gps2_heading %></var>
    </li>

    <li>
      <var>GPS 2 HDOP:</var>
      <var class="value"><%= device_state.gps2_hdop %></var>
    </li>

    <li>
      <var>GPS 2 Fix Type:</var>
      <var class="value"><%= device_state.gps2_fix_type %></var>
    </li>
  </ul>
  </details>