<details>
  <Summary>IMU</Summary>
  <ul class="state-list">
    <li>
      <var>Vibration<sub>x</sub>:</var>
      <var class="value"><%= device_state.vibex %></var>
    </li>

    <li>
      <var>Vibration<sub>y</sub>:</var>
      <var class="value"><%= device_state.vibey %></var>
    </li>

    <li>
      <var>Vibration<sub>z</sub>:</var>
      <var class="value"><%= device_state.vibez %></var>
    </li>

    <li>
      <var>Heading (°):</var>
      <var class="value"><%= device_state.heading_deg %></var>
    </li>

    <li>
      <var>Roll (°):</var>
      <var class="value"><%= device_state.roll_deg %></var>
    </li>

    <li>
      <var>Yaw (°):</var>
      <var class="value"><%= device_state.yaw_deg %></var>
    </li>

    <li>
      <var>Landed:</var>
      <var class="value"><%= device_state.landed %></var>
    </li>

    <li>
      <var>Landed State:</var>
      <var class="value"><%= device_state.landed_state %></var>
    </li>

    <li>
      <var>Time in Air:</var>
      <var class="value"><%= device_state.timeInAir %></var>
    </li>

    <li>
      <var>Extended[1]:</var>
      <var class="value"><%= device_state.extended1 %></var>
    </li>

    <li>
      <var>Extend[1]:</var>
      <var class="value"><%= device_state.extend1 %></var>
    </li>

    <li> 
      <var>Extended[2]:</var>
      <var class="value"><%= device_state.extended2 %></var>
    </li>

    <li>
      <var>Extend[2]:</var>
      <var class="value"><%= device_state.extend2 %></var>
    </li>

    <li>
      <var>Maglock:</var>
      <var class="value"><%= device_state.maglock %></var>
    </li>

    <li>
      <var>Laser:</var>
      <var class="value"><%= device_state.laser %></var>
    </li>

    <li>
      <var>Headlight:</var>
      <var class="value"><%= device_state.headlight %></var>
    </li>

    <li>
      <var>Spotlight:</var>
      <var class="value"><%= device_state.spotlight %></var>
    </li>

    <li>
      <var>A<sub>x</sub> (m/s^2):</var>
      <var class="value"><%= device_state.ax1 %></var>
    </li>

    <li>
      <var>A<sub>y</sub> (m/s^2):</var>
      <var class="value"><%= device_state.ay1 %></var>
    </li>

    <li>
      <var>A<sub>z</sub> (m/s^2):</var>
      <var class="value"><%= device_state.az1 %></var>
    </li>

    <li>
      <var>V<sub>x</sub> (m/s):</var>
      <var class="value"><%= device_state.vx %></var>
    </li>

    <li>
      <var>V<sub>y</sub> (m/s):</var>
      <var class="value"><%= device_state.vy %></var>
    </li>

    <li>
      <var>V<sub>z</sub> (m/s):</var>
      <var class="value"><%= device_state.vz %></var>
    </li>

    <li> 
      <var>α<sub>x</sub>:</var>
      <var class="value"><%= device_state.gx1 %></var>
    </li>
    
    <li> 
      <var>α<sub>y</sub>:</var>
      <var class="value"><%= device_state.gy1 %></var>
    </li>

    <li> 
      <var>α<sub>z</sub>:</var>
      <var class="value"><%= device_state.gz1 %></var>
    </li>

    <li>
      <var>IMU Temp (°C):</var>
      <var class="value"><%= device_state.imu1_temp_c %></var>
    </li>

  </ul>
</details>
