<details>
<summary>ESC</summary>
  <ul class="state-list">
    <li>
      <var>Esc[1] voltage (V):</var>
      <var class="value"><%= device_state.esc1_v %></var>
    </li>

    <li>
      <var>Esc[1] current (A):</var>
      <var class="value"><%= device_state.esc1_a %></var>
    </li>

    <li>
      <var>Esc[1] temp (°C):</var>
      <var class="value"><%= device_state.esc1_temp_c %></var>
    </li>

    <li>
      <var>Esc[1] rpm:</var>
      <var class="value"><%= device_state.esc1_rpm %></var>
    </li>

    <li>
      <var>Esc[2] voltage (V):</var>
      <var class="value"><%= device_state.esc2_v %></var>
    </li>

    <li>
      <var>Esc[2] current (A):</var>
      <var class="value"><%= device_state.esc2_a %></var>
    </li>

    <li>
      <var>Esc[2] temp (°C):</var>
      <var class="value"><%= device_state.esc2_temp_c %></var>
    </li>

    <li>
      <var>Esc[2] rpm:</var>
      <var class="value"><%= device_state.esc2_rpm %></var>
    </li>

    <li>
      <var>Esc[3] voltage (V):</var>
      <var class="value"><%= device_state.esc3_v %></var>
    </li>

    <li>
      <var>Esc[3] current (A):</var>
      <var class="value"><%= device_state.esc3_a %></var>
    </li>

    <li>
      <var>Esc[3] temp (°C):</var>
      <var class="value"><%= device_state.esc3_temp_c %></var>
    </li>

    <li>
      <var>Esc[3] rpm:</var>
      <var class="value"><%= device_state.esc3_rpm %></var>
    </li>

    <li>
      <var>Esc[4] voltage (V):</var>
      <var class="value"><%= device_state.esc4_v %></var>
    </li>

    <li>
      <var>Esc[4] current (A):</var>
      <var class="value"><%= device_state.esc4_a %></var>
    </li>

    <li>
      <var>Esc[4] temp (°C):</var>
      <var class="value"><%= device_state.esc4_temp_c %></var>
    </li>

    <li>
      <var>Esc[4] rpm:</var>
      <var class="value"><%= device_state.esc4_rpm %></var>
    </li>

    <li>
      <var>Esc[5] voltage (V):</var>
      <var class="value"><%= device_state.esc5_v %></var>
    </li>

    <li>
      <var>Esc[5] current (A):</var>
      <var class="value"><%= device_state.esc5_a %></var>
    </li>

    <li>
      <var>Esc[5] temp (°C):</var>
      <var class="value"><%= device_state.esc5_temp_c %></var>
    </li>

    <li>
      <var>Esc[5] rpm:</var>
      <var class="value"><%= device_state.esc5_rpm %></var>
    </li>

    <li>
      <var>Esc[6] voltage (V):</var>
      <var class="value"><%= device_state.esc6_v %></var>
    </li>

    <li>
      <var>Esc[6] current (A):</var>
      <var class="value"><%= device_state.esc6_a %></var>
    </li>

    <li>
      <var>Esc[6] temp (°C):</var>
      <var class="value"><%= device_state.esc6_temp_c %></var>
    </li>

    <li>
      <var>Esc[6] rpm:</var>
      <var class="value"><%= device_state.esc6_rpm %></var>
    </li>

    <li>
      <var>Esc[7] voltage (V):</var>
      <var class="value"><%= device_state.esc7_v %></var>
    </li>

    <li>
      <var>Esc[7] current (A):</var>
      <var class="value"><%= device_state.esc7_a %></var>
    </li>

    <li>
      <var>Esc[7] temp (°C):</var>
      <var class="value"><%= device_state.esc7_temp_c %></var>
    </li>

    <li>
      <var>Esc[7] rpm:</var>
      <var class="value"><%= device_state.esc7_rpm %></var>
    </li>

    <li>
      <var>Esc[8] voltage (V):</var>
      <var class="value"><%= device_state.esc8_v %></var>
    </li>

    <li>
      <var>Esc[8] current (A):</var>
      <var class="value"><%= device_state.esc8_a %></var>
    </li>

    <li>
      <var>Esc[8] temp (°C):</var>
      <var class="value"><%= device_state.esc8_temp_c %></var>
    </li>

    <li>
      <var>Esc[8] rpm:</var>
      <var class="value"><%= device_state.esc8_rpm %></var>
    </li>

      </ul>
  </details>

