<details>
<summary>Solar</summary>
  <ul>
    <li>
      <var>Solar1 v:</var>
      <var class="value"><%= device_state.solar1_v %></var>
    </li>

    <li>
      <var>Solar1 a:</var>
      <var class="value"><%= device_state.solar1_a %></var>
    </li>

    <li>
      <var>Solar2 v:</var>
      <var class="value"><%= device_state.solar2_v %></var>
    </li>

    <li>
      <var>Solar2 a:</var>
      <var class="value"><%= device_state.solar2_a %></var>
    </li>

    <li>
      <var>Charge v:</var>
      <var class="value"><%= device_state.charge_v %></var>
    </li>

    <li>
      <var>Charge a:</var>
      <var class="value"><%= device_state.charge_a %></var>
    </li>
  </ul>
  </details>