<details>
<summary>Cell</summary>
  <ul class="state-list">
    <li>
      <var>Cell rssi dbm:</var>
      <var class="value"><%= device_state.cell_rssi_dbm %></var>
    </li>

    <li>
      <var>Cell rsrp:</var>
      <var class="value"><%= device_state.cell_rsrp %></var>
    </li>

    <li>
      <var>Cell rsrq:</var>
      <var class="value"><%= device_state.cell_rsrq %></var>
    </li>

    <li>
      <var>Cell sinr:</var>
      <var class="value"><%= device_state.cell_sinr %></var>
    </li>

    <li>
      <var>Cell network type:</var>
      <var class="value"><%= device_state.cell_network_type %></var>
    </li>

    <li>
      <var>Cell:</var>
      <var class="value"><%= device_state.cell_id %></var>
    </li>

    <li>
      <var>Cell connection state:</var>
      <var class="value"><%= device_state.cell_connection_state %></var>
    </li>

    <li>
      <var>Cell network registration state:</var>
      <var class="value"><%= device_state.cell_network_registration_state %></var>
    </li>

    <li>
      <var>Cell retry count:</var>
      <var class="value"><%= device_state.cell_retry_count %></var>
    </li>

    <li>
      <var>Cell latency ms:</var>
      <var class="value"><%= device_state.cell_latency_ms %></var>
    </li>

    <li>
      <var>Cell ip:</var>
      <var class="value"><%= device_state.cell_ip %></var>
    </li>

    <li>
      <var>Cell network bytes sent:</var>
      <var class="value"><%= device_state.cell_network_bytes_sent %></var>
    </li>

    <li>
      <var>Cell network bytes recevied:</var>
      <var class="value"><%= device_state.cell_network_bytes_recevied %></var>
    </li>

    <li>
      <var>Cell network bps up:</var>
      <var class="value"><%= device_state.cell_network_bps_up %></var>
    </li>

    <li>
      <var>Cell network bps down:</var>
      <var class="value"><%= device_state.cell_network_bps_down %></var>
    </li>
  </ul>
</details>

