<details>
<summary>Battery</summary>
  <ul class="state-list">
    <li>
      <var>Battery voltage (V):</var>
      <var class="value"><%= device_state.battery1_v %></var>
    </li>

    <li>
      <var>Battery current (A):</var>
      <var class="value"><%= device_state.battery1_a %></var>
    </li>

    <li>
      <var>Battery temperature (°C):</var>
      <var class="value"><%= device_state.battery1_temp_c %></var>
    </li>

    <li>
      <var>Battery charge percentage:</var>
      <var class="value"><%= device_state.battery1_percent %> %</var>
    </li>

    <li>
     <%= render "device_states/device_battery_icon", device_state: device_state, battery_num: 1 %> 
    </li>

      </ul>
  </details>

 
