<div id="<%= dom_id device_state %>">
  <details>
    <Summary>Device Info</Summary>

  <p>
    <var>Version:</var>
    <var class="value"><%= device_state.version %></var>
  </p>

  <p>
    <var>Armed:</var>
    <var class="value"><%= device_state.armed %></var>
  </p>

  <p>
    <var>Prearmed:</var>
    <var class="value"><%= device_state.prearmed %></var>
  </p>

  <p>
    <var>Mode:</var>
    <var class="value"><%= device_state.mode %></var>
  </p>

  <p>
    <var>Status:</var>
    <var class="value"><%= device_state.status %></var>
  </p>
  </details>

<details>
  <Summary>Position</Summary>

  <p>
    <var>Latitude1:</var>
    <var class="value"><%= device_state.latitude1 %></var>
  </p>

  <p>
    <var>Longitude1:</var>
    <var class="value"><%= device_state.longitude1 %></var>
  </p>

  <p>
    <var>Gps1 status:</var>
    <var class="value"><%= device_state.gps1_status %></var>
  </p>

  <p>
    <var>Gps1 timestamp:</var>
    <var class="value"><%= device_state.gps1_timestamp %></var>
  </p>

  <p>
    <var>Satcount1:</var>
    <var class="value"><%= device_state.satcount1 %></var>
  </p>

  <p>
    <var>Gps1 altitude:</var>
    <var class="value"><%= device_state.gps1_altitude %></var>
  </p>

  <p>
    <var>Gps1 speed:</var>
    <var class="value"><%= device_state.gps1_speed %></var>
  </p>

  <p>
    <var>Gps1 heading:</var>
    <var class="value"><%= device_state.gps1_heading %></var>
  </p>

  <p>
    <var>Gps1 hdop:</var>
    <var class="value"><%= device_state.gps1_hdop %></var>
  </p>

  <p>
    <var>Gps1 fix type:</var>
    <var class="value"><%= device_state.gps1_fix_type %></var>
  </p>

  <p>
    <var>Latitude2:</var>
    <var class="value"><%= device_state.latitude2 %></var>
  </p>

  <p>
    <var>Longitude2:</var>
    <var class="value"><%= device_state.longitude2 %></var>
  </p>

  <p>
    <var>Gps2 status:</var>
    <var class="value"><%= device_state.gps2_status %></var>
  </p>

  <p>
    <var>Gps2 timestamp:</var>
    <var class="value"><%= device_state.gps2_timestamp %></var>
  </p>

  <p>
    <var>Satcount2:</var>
    <var class="value"><%= device_state.satcount2 %></var>
  </p>

  <p>
    <var>Gps2 altitude:</var>
    <var class="value"><%= device_state.gps2_altitude %></var>
  </p>

  <p>
    <var>Gps2 speed:</var>
    <var class="value"><%= device_state.gps2_speed %></var>
  </p>

  <p>
    <var>Gps2 heading:</var>
    <var class="value"><%= device_state.gps2_heading %></var>
  </p>

  <p>
    <var>Gps2 hdop:</var>
    <var class="value"><%= device_state.gps2_hdop %></var>
  </p>

  <p>
    <var>Gps2 fix type:</var>
    <var class="value"><%= device_state.gps2_fix_type %></var>
  </p>
  </details>

<details>
  <Summary>IMU</Summary>
  <p>
    <var>Vibex:</var>
    <var class="value"><%= device_state.vibex %></var>
  </p>

  <p>
    <var>Vibey:</var>
    <var class="value"><%= device_state.vibey %></var>
  </p>

  <p>
    <var>Vibez:</var>
    <var class="value"><%= device_state.vibez %></var>
  </p>

  <p>
    <var>Heading deg:</var>
    <var class="value"><%= device_state.heading_deg %></var>
  </p>

  <p>
    <var>Roll deg:</var>
    <var class="value"><%= device_state.roll_deg %></var>
  </p>

  <p>
    <var>Yaw deg:</var>
    <var class="value"><%= device_state.yaw_deg %></var>
  </p>

  <p>
    <var>Landed:</var>
    <var class="value"><%= device_state.landed %></var>
  </p>

  <p>
    <var>Landed state:</var>
    <var class="value"><%= device_state.landed_state %></var>
  </p>

  <p>
    <var>Timeinair:</var>
    <var class="value"><%= device_state.timeInAir %></var>
  </p>

  <p>
    <var>Extended1:</var>
    <var class="value"><%= device_state.extended1 %></var>
  </p>

  <p>
    <var>Extend1:</var>
    <var class="value"><%= device_state.extend1 %></var>
  </p>

  <p>
    <var>Extended2:</var>
    <var class="value"><%= device_state.extended2 %></var>
  </p>

  <p>
    <var>Extend2:</var>
    <var class="value"><%= device_state.extend2 %></var>
  </p>

  <p>
    <var>Maglock:</var>
    <var class="value"><%= device_state.maglock %></var>
  </p>

  <p>
    <var>Laser:</var>
    <var class="value"><%= device_state.laser %></var>
  </p>

  <p>
    <var>Headlight:</var>
    <var class="value"><%= device_state.headlight %></var>
  </p>

  <p>
    <var>Spotlight:</var>
    <var class="value"><%= device_state.spotlight %></var>
  </p>

  <p>
    <var>Ax1:</var>
    <var class="value"><%= device_state.ax1 %></var>
  </p>

  <p>
    <var>Ay1:</var>
    <var class="value"><%= device_state.ay1 %></var>
  </p>

  <p>
    <var>Az1:</var>
    <var class="value"><%= device_state.az1 %></var>
  </p>

  <p>
    <var>Ax2:</var>
    <var class="value"><%= device_state.ax2 %></var>
  </p>

  <p>
    <var>Ay2:</var>
    <var class="value"><%= device_state.ay2 %></var>
  </p>

  <p>
    <var>Az2:</var>
    <var class="value"><%= device_state.az2 %></var>
  </p>

  <p>
    <var>Ax3:</var>
    <var class="value"><%= device_state.ax3 %></var>
  </p>

  <p>
    <var>Ay3:</var>
    <var class="value"><%= device_state.ay3 %></var>
  </p>

  <p>
    <var>Az3:</var>
    <var class="value"><%= device_state.az3 %></var>
  </p>

  <p>
    <var>Vx:</var>
    <var class="value"><%= device_state.vx %></var>
  </p>

  <p>
    <var>Vy:</var>
    <var class="value"><%= device_state.vy %></var>
  </p>

  <p>
    <var>Vz:</var>
    <var class="value"><%= device_state.vz %></var>
  </p>

  <p>
    <var>Imu1 temp c:</var>
    <var class="value"><%= device_state.imu1_temp_c %></var>
  </p>

  <p>
    <var>Imu2 temp c:</var>
    <var class="value"><%= device_state.imu2_temp_c %></var>
  </p>

  <p>
    <var>Imu3 temp c:</var>
    <var class="value"><%= device_state.imu3_temp_c %></var>
  </p>
</details>

<details>
<summary>Configuration</summary>
  <p>
    <var>Gimbal heading deg:</var>
    <var class="value"><%= device_state.gimbal_heading_deg %></var>
  </p>

  <p>
    <var>Gimbal tilt deg:</var>
    <var class="value"><%= device_state.gimbal_tilt_deg %></var>
  </p>

  <p>
    <var>Gimbal yaw deg:</var>
    <var class="value"><%= device_state.gimbal_yaw_deg %></var>
  </p>

  <p>
    <var>Gimbal target heading deg:</var>
    <var class="value"><%= device_state.gimbal_target_heading_deg %></var>
  </p>

  <p>
    <var>Gimbal target tilt deg:</var>
    <var class="value"><%= device_state.gimbal_target_tilt_deg %></var>
  </p>

  <p>
    <var>Gimbal target yaw deg:</var>
    <var class="value"><%= device_state.gimbal_target_yaw_deg %></var>
  </p>

  <p>
    <var>Nav bearing:</var>
    <var class="value"><%= device_state.nav_bearing %></var>
  </p>

  <p>
    <var>Nav pitch:</var>
    <var class="value"><%= device_state.nav_pitch %></var>
  </p>

  <p>
    <var>Nav roll:</var>
    <var class="value"><%= device_state.nav_roll %></var>
  </p>

  <p>
    <var>Magnetic x:</var>
    <var class="value"><%= device_state.magnetic_x %></var>
  </p>

  <p>
    <var>Magnetic y:</var>
    <var class="value"><%= device_state.magnetic_y %></var>
  </p>

  <p>
    <var>Magnetic z:</var>
    <var class="value"><%= device_state.magnetic_z %></var>
  </p>

  <p>
    <var>Sonar range m:</var>
    <var class="value"><%= device_state.sonar_range_m %></var>
  </p>

  <p>
    <var>Sonar v:</var>
    <var class="value"><%= device_state.sonar_v %></var>
  </p>

  <p>
    <var>Terrainactive:</var>
    <var class="value"><%= device_state.terrainactive %></var>
  </p>

  <p>
    <var>Safetyactive:</var>
    <var class="value"><%= device_state.safetyactive %></var>
  </p>

  <p>
    <var>Failsafe:</var>
    <var class="value"><%= device_state.failsafe %></var>
  </p>
</details>

<details>
<summary>Temperature</summary>
  <p>
    <var>Temp1 c:</var>
    <var class="value"><%= device_state.temp1_c %></var>
  </p>

  <p>
    <var>Temp2 c:</var>
    <var class="value"><%= device_state.temp2_c %></var>
  </p>

  <p>
    <var>Temp3 c:</var>
    <var class="value"><%= device_state.temp3_c %></var>
  </p>

  <p>
    <var>Temp4 c:</var>
    <var class="value"><%= device_state.temp4_c %></var>
  </p>

  <p>
    <var>Temp5 c:</var>
    <var class="value"><%= device_state.temp5_c %></var>
  </p>

  <p>
    <var>Temp6 c:</var>
    <var class="value"><%= device_state.temp6_c %></var>
  </p>

  <p>
    <var>Temp7 c:</var>
    <var class="value"><%= device_state.temp7_c %></var>
  </p>

  <p>
    <var>Temp8 c:</var>
    <var class="value"><%= device_state.temp8_c %></var>
  </p>
</details>

<details>
<summary>Environmental</summary>
  <p>
    <var>Pressure pa:</var>
    <var class="value"><%= device_state.pressure_pa %></var>
  </p>

  <p>
    <var>Airspeed:</var>
    <var class="value"><%= device_state.airspeed %></var>
  </p>
</details>

<details>
<summary>Battery</summary>
  <p>
    <var>Battery1 v:</var>
    <var class="value"><%= device_state.battery1_v %></var>
  </p>

  <p>
    <var>Battery1 a:</var>
    <var class="value"><%= device_state.battery1_a %></var>
  </p>

  <p>
    <var>Battery1 temp c:</var>
    <var class="value"><%= device_state.battery1_temp_c %></var>
  </p>

  <p>
    <var>Battery1 percent:</var>
    <var class="value"><%= device_state.battery1_percent %></var>
  </p>

  <p>
    <var>Battery2 v:</var>
    <var class="value"><%= device_state.battery2_v %></var>
  </p>

  <p>
    <var>Battery2 a:</var>
    <var class="value"><%= device_state.battery2_a %></var>
  </p>

  <p>
    <var>Battery2 temp c:</var>
    <var class="value"><%= device_state.battery2_temp_c %></var>
  </p>

  <p>
    <var>Battery2 percent:</var>
    <var class="value"><%= device_state.battery2_percent %></var>
  </p>

  <p>
    <var>Battery3 v:</var>
    <var class="value"><%= device_state.battery3_v %></var>
  </p>

  <p>
    <var>Battery3 a:</var>
    <var class="value"><%= device_state.battery3_a %></var>
  </p>

  <p>
    <var>Battery3 temp c:</var>
    <var class="value"><%= device_state.battery3_temp_c %></var>
  </p>

  <p>
    <var>Battery3 percent:</var>
    <var class="value"><%= device_state.battery3_percent %></var>
  </p>

  <p>
    <var>Battery4 v:</var>
    <var class="value"><%= device_state.battery4_v %></var>
  </p>

  <p>
    <var>Battery4 a:</var>
    <var class="value"><%= device_state.battery4_a %></var>
  </p>

  <p>
    <var>Battery4 temp c:</var>
    <var class="value"><%= device_state.battery4_temp_c %></var>
  </p>

  <p>
    <var>Battery4 percent:</var>
    <var class="value"><%= device_state.battery4_percent %></var>
  </p>

  <p>
    <var>Battery5 v:</var>
    <var class="value"><%= device_state.battery5_v %></var>
  </p>

  <p>
    <var>Battery5 a:</var>
    <var class="value"><%= device_state.battery5_a %></var>
  </p>

  <p>
    <var>Battery5 temp c:</var>
    <var class="value"><%= device_state.battery5_temp_c %></var>
  </p>

  <p>
    <var>Battery5 percent:</var>
    <var class="value"><%= device_state.battery5_percent %></var>
  </p>

  <p>
    <var>Battery6 v:</var>
    <var class="value"><%= device_state.battery6_v %></var>
  </p>

  <p>
    <var>Battery6 a:</var>
    <var class="value"><%= device_state.battery6_a %></var>
  </p>

  <p>
    <var>Battery6 temp c:</var>
    <var class="value"><%= device_state.battery6_temp_c %></var>
  </p>

  <p>
    <var>Battery6 percent:</var>
    <var class="value"><%= device_state.battery6_percent %></var>
  </p>

  <p>
    <var>Battery7 v:</var>
    <var class="value"><%= device_state.battery7_v %></var>
  </p>

  <p>
    <var>Battery7 a:</var>
    <var class="value"><%= device_state.battery7_a %></var>
  </p>

  <p>
    <var>Battery7 temp c:</var>
    <var class="value"><%= device_state.battery7_temp_c %></var>
  </p>

  <p>
    <var>Battery7 percent:</var>
    <var class="value"><%= device_state.battery7_percent %></var>
  </p>

  <p>
    <var>Battery8 v:</var>
    <var class="value"><%= device_state.battery8_v %></var>
  </p>

  <p>
    <var>Battery8 a:</var>
    <var class="value"><%= device_state.battery8_a %></var>
  </p>

  <p>
    <var>Battery8 temp c:</var>
    <var class="value"><%= device_state.battery8_temp_c %></var>
  </p>

  <p>
    <var>Battery8 percent:</var>
    <var class="value"><%= device_state.battery8_percent %></var>
  </p>
  </details>

<details>
<summary>ESC</summary>
  <p>
    <var>Esc1 v:</var>
    <var class="value"><%= device_state.esc1_v %></var>
  </p>

  <p>
    <var>Esc1 a:</var>
    <var class="value"><%= device_state.esc1_a %></var>
  </p>

  <p>
    <var>Esc1 temp c:</var>
    <var class="value"><%= device_state.esc1_temp_c %></var>
  </p>

  <p>
    <var>Esc1 rpm:</var>
    <var class="value"><%= device_state.esc1_rpm %></var>
  </p>

  <p>
    <var>Esc2 v:</var>
    <var class="value"><%= device_state.esc2_v %></var>
  </p>

  <p>
    <var>Esc2 a:</var>
    <var class="value"><%= device_state.esc2_a %></var>
  </p>

  <p>
    <var>Esc2 temp c:</var>
    <var class="value"><%= device_state.esc2_temp_c %></var>
  </p>

  <p>
    <var>Esc2 rpm:</var>
    <var class="value"><%= device_state.esc2_rpm %></var>
  </p>

  <p>
    <var>Esc3 v:</var>
    <var class="value"><%= device_state.esc3_v %></var>
  </p>

  <p>
    <var>Esc3 a:</var>
    <var class="value"><%= device_state.esc3_a %></var>
  </p>

  <p>
    <var>Esc3 temp c:</var>
    <var class="value"><%= device_state.esc3_temp_c %></var>
  </p>

  <p>
    <var>Esc3 rpm:</var>
    <var class="value"><%= device_state.esc3_rpm %></var>
  </p>

  <p>
    <var>Esc4 v:</var>
    <var class="value"><%= device_state.esc4_v %></var>
  </p>

  <p>
    <var>Esc4 a:</var>
    <var class="value"><%= device_state.esc4_a %></var>
  </p>

  <p>
    <var>Esc4 temp c:</var>
    <var class="value"><%= device_state.esc4_temp_c %></var>
  </p>

  <p>
    <var>Esc4 rpm:</var>
    <var class="value"><%= device_state.esc4_rpm %></var>
  </p>

  <p>
    <var>Esc5 v:</var>
    <var class="value"><%= device_state.esc5_v %></var>
  </p>

  <p>
    <var>Esc5 a:</var>
    <var class="value"><%= device_state.esc5_a %></var>
  </p>

  <p>
    <var>Esc5 temp c:</var>
    <var class="value"><%= device_state.esc5_temp_c %></var>
  </p>

  <p>
    <var>Esc5 rpm:</var>
    <var class="value"><%= device_state.esc5_rpm %></var>
  </p>

  <p>
    <var>Esc6 v:</var>
    <var class="value"><%= device_state.esc6_v %></var>
  </p>

  <p>
    <var>Esc6 a:</var>
    <var class="value"><%= device_state.esc6_a %></var>
  </p>

  <p>
    <var>Esc6 temp c:</var>
    <var class="value"><%= device_state.esc6_temp_c %></var>
  </p>

  <p>
    <var>Esc6 rpm:</var>
    <var class="value"><%= device_state.esc6_rpm %></var>
  </p>

  <p>
    <var>Esc7 v:</var>
    <var class="value"><%= device_state.esc7_v %></var>
  </p>

  <p>
    <var>Esc7 a:</var>
    <var class="value"><%= device_state.esc7_a %></var>
  </p>

  <p>
    <var>Esc7 temp c:</var>
    <var class="value"><%= device_state.esc7_temp_c %></var>
  </p>

  <p>
    <var>Esc7 rpm:</var>
    <var class="value"><%= device_state.esc7_rpm %></var>
  </p>

  <p>
    <var>Esc8 v:</var>
    <var class="value"><%= device_state.esc8_v %></var>
  </p>

  <p>
    <var>Esc8 a:</var>
    <var class="value"><%= device_state.esc8_a %></var>
  </p>

  <p>
    <var>Esc8 temp c:</var>
    <var class="value"><%= device_state.esc8_temp_c %></var>
  </p>

  <p>
    <var>Esc8 rpm:</var>
    <var class="value"><%= device_state.esc8_rpm %></var>
  </p>

  <p>
    <var>Esc9 v:</var>
    <var class="value"><%= device_state.esc9_v %></var>
  </p>

  <p>
    <var>Esc9 a:</var>
    <var class="value"><%= device_state.esc9_a %></var>
  </p>

  <p>
    <var>Esc9 temp c:</var>
    <var class="value"><%= device_state.esc9_temp_c %></var>
  </p>

  <p>
    <var>Esc9 rpm:</var>
    <var class="value"><%= device_state.esc9_rpm %></var>
  </p>

  <p>
    <var>Esc10 v:</var>
    <var class="value"><%= device_state.esc10_v %></var>
  </p>

  <p>
    <var>Esc10 a:</var>
    <var class="value"><%= device_state.esc10_a %></var>
  </p>

  <p>
    <var>Esc10 temp c:</var>
    <var class="value"><%= device_state.esc10_temp_c %></var>
  </p>

  <p>
    <var>Esc10 rpm:</var>
    <var class="value"><%= device_state.esc10_rpm %></var>
  </p>

  <p>
    <var>Esc11 v:</var>
    <var class="value"><%= device_state.esc11_v %></var>
  </p>

  <p>
    <var>Esc11 a:</var>
    <var class="value"><%= device_state.esc11_a %></var>
  </p>

  <p>
    <var>Esc11 temp c:</var>
    <var class="value"><%= device_state.esc11_temp_c %></var>
  </p>

  <p>
    <var>Esc11 rpm:</var>
    <var class="value"><%= device_state.esc11_rpm %></var>
  </p>

  <p>
    <var>Esc12 v:</var>
    <var class="value"><%= device_state.esc12_v %></var>
  </p>

  <p>
    <var>Esc12 a:</var>
    <var class="value"><%= device_state.esc12_a %></var>
  </p>

  <p>
    <var>Esc12 temp c:</var>
    <var class="value"><%= device_state.esc12_temp_c %></var>
  </p>

  <p>
    <var>Esc12 rpm:</var>
    <var class="value"><%= device_state.esc12_rpm %></var>
  </p>

  <p>
    <var>Esc13 v:</var>
    <var class="value"><%= device_state.esc13_v %></var>
  </p>

  <p>
    <var>Esc13 a:</var>
    <var class="value"><%= device_state.esc13_a %></var>
  </p>

  <p>
    <var>Esc13 temp c:</var>
    <var class="value"><%= device_state.esc13_temp_c %></var>
  </p>

  <p>
    <var>Esc13 rpm:</var>
    <var class="value"><%= device_state.esc13_rpm %></var>
  </p>

  <p>
    <var>Esc14 v:</var>
    <var class="value"><%= device_state.esc14_v %></var>
  </p>

  <p>
    <var>Esc14 a:</var>
    <var class="value"><%= device_state.esc14_a %></var>
  </p>

  <p>
    <var>Esc14 temp c:</var>
    <var class="value"><%= device_state.esc14_temp_c %></var>
  </p>

  <p>
    <var>Esc14 rpm:</var>
    <var class="value"><%= device_state.esc14_rpm %></var>
  </p>

  <p>
    <var>Esc15 v:</var>
    <var class="value"><%= device_state.esc15_v %></var>
  </p>

  <p>
    <var>Esc15 a:</var>
    <var class="value"><%= device_state.esc15_a %></var>
  </p>

  <p>
    <var>Esc15 temp c:</var>
    <var class="value"><%= device_state.esc15_temp_c %></var>
  </p>

  <p>
    <var>Esc15 rpm:</var>
    <var class="value"><%= device_state.esc15_rpm %></var>
  </p>

  <p>
    <var>Esc16 v:</var>
    <var class="value"><%= device_state.esc16_v %></var>
  </p>

  <p>
    <var>Esc16 a:</var>
    <var class="value"><%= device_state.esc16_a %></var>
  </p>

  <p>
    <var>Esc16 temp c:</var>
    <var class="value"><%= device_state.esc16_temp_c %></var>
  </p>

  <p>
    <var>Esc16 rpm:</var>
    <var class="value"><%= device_state.esc16_rpm %></var>
  </p>

  </details>

<details>
<summary>EFI</summary>
  <p>
    <var>Efi rpm:</var>
    <var class="value"><%= device_state.efi_rpm %></var>
  </p>

  <p>
    <var>Efi fuel pressure bar:</var>
    <var class="value"><%= device_state.efi_fuel_pressure_bar %></var>
  </p>

  <p>
    <var>Efi intake temp c:</var>
    <var class="value"><%= device_state.efi_intake_temp_c %></var>
  </p>

  <p>
    <var>Efi exhaust temp c:</var>
    <var class="value"><%= device_state.efi_exhaust_temp_c %></var>
  </p>

  <p>
    <var>Efi fuel flow lps:</var>
    <var class="value"><%= device_state.efi_fuel_flow_lps %></var>
  </p>

  <p>
    <var>Efi fuel percent:</var>
    <var class="value"><%= device_state.efi_fuel_percent %></var>
  </p>

  <p>
    <var>Efi baro:</var>
    <var class="value"><%= device_state.efi_baro %></var>
  </p>

  <p>
    <var>Efi load:</var>
    <var class="value"><%= device_state.efi_load %></var>
  </p>

  <p>
    <var>Throttle angle:</var>
    <var class="value"><%= device_state.throttle_angle %></var>
  </p>

  <p>
    <var>Brake angle:</var>
    <var class="value"><%= device_state.brake_angle %></var>
  </p>

  <p>
    <var>Steering wheel angle:</var>
    <var class="value"><%= device_state.steering_wheel_angle %></var>
  </p>

  <p>
    <var>Turn signal:</var>
    <var class="value"><%= device_state.turn_signal %></var>
  </p>
  </details>


<details>
<summary>XPDR</summary>
  <p>
    <var>Xpdr adsb tx sys fail:</var>
    <var class="value"><%= device_state.xpdr_adsb_tx_sys_fail %></var>
  </p>

  <p>
    <var>Xpdr airborne status:</var>
    <var class="value"><%= device_state.xpdr_airborne_status %></var>
  </p>

  <p>
    <var>Xpdr board temperature c:</var>
    <var class="value"><%= device_state.xpdr_board_temperature_c %></var>
  </p>

  <p>
    <var>Xpdr es1090 tx enable:</var>
    <var class="value"><%= device_state.xpdr_es1090_tx_enable %></var>
  </p>

  <p>
    <var>Xpdr flight:</var>
    <var class="value"><%= device_state.xpdr_flight_id %></var>
  </p>

  <p>
    <var>Xpdr gps no fix:</var>
    <var class="value"><%= device_state.xpdr_gps_no_fix %></var>
  </p>

  <p>
    <var>Xpdr gps unavail:</var>
    <var class="value"><%= device_state.xpdr_gps_unavail %></var>
  </p>

  <p>
    <var>Xpdr ident active:</var>
    <var class="value"><%= device_state.xpdr_ident_active %></var>
  </p>

  <p>
    <var>Xpdr interrogated since:</var>
    <var class="value"><%= device_state.xpdr_interrogated_since %></var>
  </p>

  <p>
    <var>Xpdr maint req:</var>
    <var class="value"><%= device_state.xpdr_maint_req %></var>
  </p>

  <p>
    <var>Xpdr mode a enable:</var>
    <var class="value"><%= device_state.xpdr_mode_A_enable %></var>
  </p>

  <p>
    <var>Xpdr mode a squawk:</var>
    <var class="value"><%= device_state.xpdr_mode_A_squawk %></var>
  </p>

  <p>
    <var>Xpdr mode c enable:</var>
    <var class="value"><%= device_state.xpdr_mode_C_enable %></var>
  </p>

  <p>
    <var>Xpdr mode s enable:</var>
    <var class="value"><%= device_state.xpdr_mode_S_enable %></var>
  </p>

  <p>
    <var>Xpdr nacp:</var>
    <var class="value"><%= device_state.xpdr_nacp %></var>
  </p>

  <p>
    <var>Xpdr nic:</var>
    <var class="value"><%= device_state.xpdr_nic %></var>
  </p>

  <p>
    <var>Xpdr status pending:</var>
    <var class="value"><%= device_state.xpdr_status_pending %></var>
  </p>

  <p>
    <var>Xpdr status unavail:</var>
    <var class="value"><%= device_state.xpdr_status_unavail %></var>
  </p>

  <p>
    <var>Xpdr x bit status:</var>
    <var class="value"><%= device_state.xpdr_x_bit_status %></var>
  </p>
</details>

<details>
<summary>Cell</summary>
  <p>
    <var>Cell rssi dbm:</var>
    <var class="value"><%= device_state.cell_rssi_dbm %></var>
  </p>

  <p>
    <var>Cell rsrp:</var>
    <var class="value"><%= device_state.cell_rsrp %></var>
  </p>

  <p>
    <var>Cell rsrq:</var>
    <var class="value"><%= device_state.cell_rsrq %></var>
  </p>

  <p>
    <var>Cell sinr:</var>
    <var class="value"><%= device_state.cell_sinr %></var>
  </p>

  <p>
    <var>Cell network type:</var>
    <var class="value"><%= device_state.cell_network_type %></var>
  </p>

  <p>
    <var>Cell:</var>
    <var class="value"><%= device_state.cell_id %></var>
  </p>

  <p>
    <var>Cell connection state:</var>
    <var class="value"><%= device_state.cell_connection_state %></var>
  </p>

  <p>
    <var>Cell network registration state:</var>
    <var class="value"><%= device_state.cell_network_registration_state %></var>
  </p>

  <p>
    <var>Cell retry count:</var>
    <var class="value"><%= device_state.cell_retry_count %></var>
  </p>

  <p>
    <var>Cell latency ms:</var>
    <var class="value"><%= device_state.cell_latency_ms %></var>
  </p>

  <p>
    <var>Cell ip:</var>
    <var class="value"><%= device_state.cell_ip %></var>
  </p>

  <p>
    <var>Cell network bytes sent:</var>
    <var class="value"><%= device_state.cell_network_bytes_sent %></var>
  </p>

  <p>
    <var>Cell network bytes recevied:</var>
    <var class="value"><%= device_state.cell_network_bytes_recevied %></var>
  </p>

  <p>
    <var>Cell network bps up:</var>
    <var class="value"><%= device_state.cell_network_bps_up %></var>
  </p>

  <p>
    <var>Cell network bps down:</var>
    <var class="value"><%= device_state.cell_network_bps_down %></var>
  </p>
</details>

<details>
<summary>Wifi</summary>
  <p>
    <var>Wifi ssid:</var>
    <var class="value"><%= device_state.wifi_ssid %></var>
  </p>

  <p>
    <var>Wifi bssid:</var>
    <var class="value"><%= device_state.wifi_bssid %></var>
  </p>

  <p>
    <var>Wifi rssi dbm:</var>
    <var class="value"><%= device_state.wifi_rssi_dbm %></var>
  </p>

  <p>
    <var>Wifi snr db:</var>
    <var class="value"><%= device_state.wifi_snr_db %></var>
  </p>

  <p>
    <var>Wifi link speed mbps:</var>
    <var class="value"><%= device_state.wifi_link_speed_mbps %></var>
  </p>

  <p>
    <var>Wifi band:</var>
    <var class="value"><%= device_state.wifi_band %></var>
  </p>

  <p>
    <var>Wifi channel:</var>
    <var class="value"><%= device_state.wifi_channel %></var>
  </p>

  <p>
    <var>Wifi ip address:</var>
    <var class="value"><%= device_state.wifi_ip_address %></var>
  </p>

  <p>
    <var>Wifi connection status:</var>
    <var class="value"><%= device_state.wifi_connection_status %></var>
  </p>

  <p>
    <var>Wifi uptime sec:</var>
    <var class="value"><%= device_state.wifi_uptime_sec %></var>
  </p>

  <p>
    <var>Wifi bytes sent:</var>
    <var class="value"><%= device_state.wifi_bytes_sent %></var>
  </p>

  <p>
    <var>Wifi bytes received:</var>
    <var class="value"><%= device_state.wifi_bytes_received %></var>
  </p>
</details>

<details>
<summary>Network</summary>
  <p>
    <var>Mac address:</var>
    <var class="value"><%= device_state.mac_address %></var>
  </p>

  <p>
    <var>Ethernet link status:</var>
    <var class="value"><%= device_state.ethernet_link_status %></var>
  </p>

  <p>
    <var>Ethernet speed:</var>
    <var class="value"><%= device_state.ethernet_speed %></var>
  </p>

  <p>
    <var>Ip address:</var>
    <var class="value"><%= device_state.ip_address %></var>
  </p>

  <p>
    <var>Subnet mask:</var>
    <var class="value"><%= device_state.subnet_mask %></var>
  </p>

  <p>
    <var>Default gateway:</var>
    <var class="value"><%= device_state.default_gateway %></var>
  </p>

  <p>
    <var>Dhcp status:</var>
    <var class="value"><%= device_state.dhcp_status %></var>
  </p>

  <p>
    <var>Dhcp lease:</var>
    <var class="value"><%= device_state.dhcp_lease %></var>
  </p>
  </details>


<details>
<summary>RF</summary>
  <p>
    <var>Ham radio rx hz:</var>
    <var class="value"><%= device_state.ham_radio_rx_hz %></var>
  </p>

  <p>
    <var>Ham radio tx hz:</var>
    <var class="value"><%= device_state.ham_radio_tx_hz %></var>
  </p>

  <p>
    <var>Ham radio watts:</var>
    <var class="value"><%= device_state.ham_radio_watts %></var>
  </p>

  <p>
    <var>Ham radio enable:</var>
    <var class="value"><%= device_state.ham_radio_enable %></var>
  </p>

  <p>
    <var>Ham radio v:</var>
    <var class="value"><%= device_state.ham_radio_v %></var>
  </p>

  <p>
    <var>Ham radio a:</var>
    <var class="value"><%= device_state.ham_radio_a %></var>
  </p>
  </details>

<details>
<summary>Heaters</summary>
  <p>
    <var>Heater1 v:</var>
    <var class="value"><%= device_state.heater1_v %></var>
  </p>

  <p>
    <var>Heater1 a:</var>
    <var class="value"><%= device_state.heater1_a %></var>
  </p>

  <p>
    <var>Heater1 temp c:</var>
    <var class="value"><%= device_state.heater1_temp_c %></var>
  </p>

  <p>
    <var>Heater2 v:</var>
    <var class="value"><%= device_state.heater2_v %></var>
  </p>

  <p>
    <var>Heater2 a:</var>
    <var class="value"><%= device_state.heater2_a %></var>
  </p>

  <p>
    <var>Heater2 temp c:</var>
    <var class="value"><%= device_state.heater2_temp_c %></var>
  </p>

  <p>
    <var>Heater3 v:</var>
    <var class="value"><%= device_state.heater3_v %></var>
  </p>

  <p>
    <var>Heater3 a:</var>
    <var class="value"><%= device_state.heater3_a %></var>
  </p>

  <p>
    <var>Heater3 temp c:</var>
    <var class="value"><%= device_state.heater3_temp_c %></var>
  </p>

  <p>
    <var>Heater4 v:</var>
    <var class="value"><%= device_state.heater4_v %></var>
  </p>

  <p>
    <var>Heater4 a:</var>
    <var class="value"><%= device_state.heater4_a %></var>
  </p>

  <p>
    <var>Heater4 temp c:</var>
    <var class="value"><%= device_state.heater4_temp_c %></var>
  </p>

  <p>
    <var>Humidity1:</var>
    <var class="value"><%= device_state.humidity1 %></var>
  </p>

  <p>
    <var>Humidity2:</var>
    <var class="value"><%= device_state.humidity2 %></var>
  </p>

  <p>
    <var>Fan1 v:</var>
    <var class="value"><%= device_state.fan1_v %></var>
  </p>

  <p>
    <var>Fan1 a:</var>
    <var class="value"><%= device_state.fan1_a %></var>
  </p>

  <p>
    <var>Fan1 rpm:</var>
    <var class="value"><%= device_state.fan1_rpm %></var>
  </p>

  <p>
    <var>Fan2 v:</var>
    <var class="value"><%= device_state.fan2_v %></var>
  </p>

  <p>
    <var>Fan2 a:</var>
    <var class="value"><%= device_state.fan2_a %></var>
  </p>

  <p>
    <var>Fan2 rpm:</var>
    <var class="value"><%= device_state.fan2_rpm %></var>
  </p>
   </details>

<details>
<summary>Rangefinders</summary>
  <p>
    <var>Rangefinder1 m:</var>
    <var class="value"><%= device_state.rangefinder1_m %></var>
  </p>

  <p>
    <var>Rangefinder2 m:</var>
    <var class="value"><%= device_state.rangefinder2_m %></var>
  </p>

  <p>
    <var>Rangefinder3 m:</var>
    <var class="value"><%= device_state.rangefinder3_m %></var>
  </p>

  <p>
    <var>Rangefinder4 m:</var>
    <var class="value"><%= device_state.rangefinder4_m %></var>
  </p>

  <p>
    <var>Rangefinder5 m:</var>
    <var class="value"><%= device_state.rangefinder5_m %></var>
  </p>

  <p>
    <var>Rangefinder6 m:</var>
    <var class="value"><%= device_state.rangefinder6_m %></var>
  </p>

  <p>
    <var>Rangefinder7 m:</var>
    <var class="value"><%= device_state.rangefinder7_m %></var>
  </p>

  <p>
    <var>Rangefinder8 m:</var>
    <var class="value"><%= device_state.rangefinder8_m %></var>
  </p>
  </details>

<details>
<summary>Solar</summary>
  <p>
    <var>Solar1 v:</var>
    <var class="value"><%= device_state.solar1_v %></var>
  </p>

  <p>
    <var>Solar1 a:</var>
    <var class="value"><%= device_state.solar1_a %></var>
  </p>

  <p>
    <var>Solar2 v:</var>
    <var class="value"><%= device_state.solar2_v %></var>
  </p>

  <p>
    <var>Solar2 a:</var>
    <var class="value"><%= device_state.solar2_a %></var>
  </p>

  <p>
    <var>Charge v:</var>
    <var class="value"><%= device_state.charge_v %></var>
  </p>

  <p>
    <var>Charge a:</var>
    <var class="value"><%= device_state.charge_a %></var>
  </p>
  </details>

<details>
<summary>Mag</summary>
  <p>
    <var>Mag1:</var>
    <var class="value"><%= device_state.mag1 %></var>
  </p>

  <p>
    <var>Mag2:</var>
    <var class="value"><%= device_state.mag2 %></var>
  </p>

  <p>
    <var>Mag3:</var>
    <var class="value"><%= device_state.mag3 %></var>
  </p>

  <p>
    <var>Mag4:</var>
    <var class="value"><%= device_state.mag4 %></var>
  </p>
  </details>

<details>
<summary>Buttons</summary>
  <p>
    <var>Button1:</var>
    <var class="value"><%= device_state.button1 %></var>
  </p>

  <p>
    <var>Button2:</var>
    <var class="value"><%= device_state.button2 %></var>
  </p>

  <p>
    <var>Switch1:</var>
    <var class="value"><%= device_state.switch1 %></var>
  </p>

  <p>
    <var>Switch2:</var>
    <var class="value"><%= device_state.switch2 %></var>
  </p>
</details>

<details>
<summary>Load Cells</summary>
  <p>
    <var>Load cell1 n:</var>
    <var class="value"><%= device_state.load_cell1_n %></var>
  </p>

  <p>
    <var>Load cell2 n:</var>
    <var class="value"><%= device_state.load_cell2_n %></var>
  </p>

  <p>
    <var>Load cell3 n:</var>
    <var class="value"><%= device_state.load_cell3_n %></var>
  </p>

  <p>
    <var>Load cell4 n:</var>
    <var class="value"><%= device_state.load_cell4_n %></var>
  </p>
  </details>

<details>
<summary>IO</summary>
  <p>
    <var>Current sensor1 ma:</var>
    <var class="value"><%= device_state.current_sensor1_ma %></var>
  </p>

  <p>
    <var>Current sensor2 ma:</var>
    <var class="value"><%= device_state.current_sensor2_ma %></var>
  </p>

  <p>
    <var>Current sensor3 ma:</var>
    <var class="value"><%= device_state.current_sensor3_ma %></var>
  </p>

  <p>
    <var>Current sensor4 ma:</var>
    <var class="value"><%= device_state.current_sensor4_ma %></var>
  </p>

  <p>
    <var>Current sensor5 ma:</var>
    <var class="value"><%= device_state.current_sensor5_ma %></var>
  </p>

  <p>
    <var>Current sensor6 ma:</var>
    <var class="value"><%= device_state.current_sensor6_ma %></var>
  </p>

  <p>
    <var>Current sensor7 ma:</var>
    <var class="value"><%= device_state.current_sensor7_ma %></var>
  </p>

  <p>
    <var>Current sensor8 ma:</var>
    <var class="value"><%= device_state.current_sensor8_ma %></var>
  </p>

  <p>
    <var>Voltage sensor1 mv:</var>
    <var class="value"><%= device_state.voltage_sensor1_mv %></var>
  </p>

  <p>
    <var>Voltage sensor2 mv:</var>
    <var class="value"><%= device_state.voltage_sensor2_mv %></var>
  </p>

  <p>
    <var>Voltage sensor3 mv:</var>
    <var class="value"><%= device_state.voltage_sensor3_mv %></var>
  </p>

  <p>
    <var>Voltage sensor4 mv:</var>
    <var class="value"><%= device_state.voltage_sensor4_mv %></var>
  </p>

  <p>
    <var>Voltage sensor5 mv:</var>
    <var class="value"><%= device_state.voltage_sensor5_mv %></var>
  </p>

  <p>
    <var>Voltage sensor6 mv:</var>
    <var class="value"><%= device_state.voltage_sensor6_mv %></var>
  </p>

  <p>
    <var>Voltage sensor7 mv:</var>
    <var class="value"><%= device_state.voltage_sensor7_mv %></var>
  </p>

  <p>
    <var>Voltage sensor9 mv:</var>
    <var class="value"><%= device_state.voltage_sensor9_mv %></var>
  </p>

  <p>
    <var>Digital output1:</var>
    <var class="value"><%= device_state.digital_output1 %></var>
  </p>

  <p>
    <var>Digital output2:</var>
    <var class="value"><%= device_state.digital_output2 %></var>
  </p>

  <p>
    <var>Digital output3:</var>
    <var class="value"><%= device_state.digital_output3 %></var>
  </p>

  <p>
    <var>Digital output4:</var>
    <var class="value"><%= device_state.digital_output4 %></var>
  </p>

  <p>
    <var>Digital output5:</var>
    <var class="value"><%= device_state.digital_output5 %></var>
  </p>

  <p>
    <var>Digital output6:</var>
    <var class="value"><%= device_state.digital_output6 %></var>
  </p>

  <p>
    <var>Digital output7:</var>
    <var class="value"><%= device_state.digital_output7 %></var>
  </p>

  <p>
    <var>Digital output8:</var>
    <var class="value"><%= device_state.digital_output8 %></var>
  </p>

  <p>
    <var>Digital input1:</var>
    <var class="value"><%= device_state.digital_input1 %></var>
  </p>

  <p>
    <var>Digital input2:</var>
    <var class="value"><%= device_state.digital_input2 %></var>
  </p>

  <p>
    <var>Digital input3:</var>
    <var class="value"><%= device_state.digital_input3 %></var>
  </p>

  <p>
    <var>Digital input4:</var>
    <var class="value"><%= device_state.digital_input4 %></var>
  </p>

  <p>
    <var>Digital input5:</var>
    <var class="value"><%= device_state.digital_input5 %></var>
  </p>

  <p>
    <var>Digital input6:</var>
    <var class="value"><%= device_state.digital_input6 %></var>
  </p>

  <p>
    <var>Digital input7:</var>
    <var class="value"><%= device_state.digital_input7 %></var>
  </p>

  <p>
    <var>Digital input8:</var>
    <var class="value"><%= device_state.digital_input8 %></var>
  </p>

  <p>
    <var>Analog output1:</var>
    <var class="value"><%= device_state.analog_output1 %></var>
  </p>

  <p>
    <var>Analog output2:</var>
    <var class="value"><%= device_state.analog_output2 %></var>
  </p>

  <p>
    <var>Analog output3:</var>
    <var class="value"><%= device_state.analog_output3 %></var>
  </p>

  <p>
    <var>Analog output4:</var>
    <var class="value"><%= device_state.analog_output4 %></var>
  </p>

  <p>
    <var>Analog output5:</var>
    <var class="value"><%= device_state.analog_output5 %></var>
  </p>

  <p>
    <var>Analog output6:</var>
    <var class="value"><%= device_state.analog_output6 %></var>
  </p>

  <p>
    <var>Analog output7:</var>
    <var class="value"><%= device_state.analog_output7 %></var>
  </p>

  <p>
    <var>Analog output8:</var>
    <var class="value"><%= device_state.analog_output8 %></var>
  </p>

  <p>
    <var>Hall1 angle degrees:</var>
    <var class="value"><%= device_state.hall1_angle_degrees %></var>
  </p>

  <p>
    <var>Hall2 angle degrees:</var>
    <var class="value"><%= device_state.hall2_angle_degrees %></var>
  </p>

  <p>
    <var>Hall3 angle degrees:</var>
    <var class="value"><%= device_state.hall3_angle_degrees %></var>
  </p>

  <p>
    <var>Hall4 angle degrees:</var>
    <var class="value"><%= device_state.hall4_angle_degrees %></var>
  </p>

  <p>
    <var>Hall5 angle degrees:</var>
    <var class="value"><%= device_state.hall5_angle_degrees %></var>
  </p>

  <p>
    <var>Hall6 angle degrees:</var>
    <var class="value"><%= device_state.hall6_angle_degrees %></var>
  </p>

  <p>
    <var>Hall7 angle degrees:</var>
    <var class="value"><%= device_state.hall7_angle_degrees %></var>
  </p>

  <p>
    <var>Hall8 angle degrees:</var>
    <var class="value"><%= device_state.hall8_angle_degrees %></var>
  </p>

  <p>
    <var>Hall1 presence:</var>
    <var class="value"><%= device_state.hall1_presence %></var>
  </p>

  <p>
    <var>Hall2 presence:</var>
    <var class="value"><%= device_state.hall2_presence %></var>
  </p>

  <p>
    <var>Hall3 presence:</var>
    <var class="value"><%= device_state.hall3_presence %></var>
  </p>

  <p>
    <var>Hall4 presence:</var>
    <var class="value"><%= device_state.hall4_presence %></var>
  </p>

  <p>
    <var>Hall5 presence:</var>
    <var class="value"><%= device_state.hall5_presence %></var>
  </p>

  <p>
    <var>Hall6 presence:</var>
    <var class="value"><%= device_state.hall6_presence %></var>
  </p>

  <p>
    <var>Hall7 presence:</var>
    <var class="value"><%= device_state.hall7_presence %></var>
  </p>

  <p>
    <var>Hall8 presence:</var>
    <var class="value"><%= device_state.hall8_presence %></var>
  </p>
</details>

<details>
<summary>Radiation</summary>
  <p>
    <var>Geiger mrad:</var>
    <var class="value"><%= device_state.geiger_mrad %></var>
  </p>
  </details>

<details>
<summary>Color</summary>

  <p>
    <var>Color r:</var>
    <var class="value"><%= device_state.color_r %></var>
  </p>

  <p>
    <var>Color g:</var>
    <var class="value"><%= device_state.color_g %></var>
  </p>

  <p>
    <var>Color b:</var>
    <var class="value"><%= device_state.color_b %></var>
  </p>
  </details>

<details>
<summary>Text</summary>

  <p>
    <var>Text1:</var>
    <var class="value"><%= device_state.text1 %></var>
  </p>

  <p>
    <var>Text2:</var>
    <var class="value"><%= device_state.text2 %></var>
  </p>

  <p>
    <var>Text3:</var>
    <var class="value"><%= device_state.text3 %></var>
  </p>

  <p>
    <var>Text4:</var>
    <var class="value"><%= device_state.text4 %></var>
  </p>

  <p>
    <var>Text5:</var>
    <var class="value"><%= device_state.text5 %></var>
  </p>

  <p>
    <var>Text6:</var>
    <var class="value"><%= device_state.text6 %></var>
  </p>

  <p>
    <var>Text7:</var>
    <var class="value"><%= device_state.text7 %></var>
  </p>

  <p>
    <var>Text8:</var>
    <var class="value"><%= device_state.text8 %></var>
  </p>
  </details>

</div>
