<details>
<summary>IO</summary>
  <ul>
    <li>
      <var>Current sensor1 ma:</var>
      <var class="value"><%= device_state.current_sensor1_ma %></var>
    </li>

    <li>
      <var>Current sensor2 ma:</var>
      <var class="value"><%= device_state.current_sensor2_ma %></var>
    </li>

    <li>
      <var>Current sensor3 ma:</var>
      <var class="value"><%= device_state.current_sensor3_ma %></var>
    </li>

    <li>
      <var>Current sensor4 ma:</var>
      <var class="value"><%= device_state.current_sensor4_ma %></var>
    </li>

    <li>
      <var>Current sensor5 ma:</var>
      <var class="value"><%= device_state.current_sensor5_ma %></var>
    </li>

    <li>
      <var>Current sensor6 ma:</var>
      <var class="value"><%= device_state.current_sensor6_ma %></var>
    </li>

    <li>
      <var>Current sensor7 ma:</var>
      <var class="value"><%= device_state.current_sensor7_ma %></var>
    </li>

    <li>
      <var>Current sensor8 ma:</var>
      <var class="value"><%= device_state.current_sensor8_ma %></var>
    </li>

    <li>
      <var>Voltage sensor1 mv:</var>
      <var class="value"><%= device_state.voltage_sensor1_mv %></var>
    </li>

    <li>
      <var>Voltage sensor2 mv:</var>
      <var class="value"><%= device_state.voltage_sensor2_mv %></var>
    </li>

    <li>
      <var>Voltage sensor3 mv:</var>
      <var class="value"><%= device_state.voltage_sensor3_mv %></var>
    </li>

    <li>
      <var>Voltage sensor4 mv:</var>
      <var class="value"><%= device_state.voltage_sensor4_mv %></var>
    </li>

    <li>
      <var>Voltage sensor5 mv:</var>
      <var class="value"><%= device_state.voltage_sensor5_mv %></var>
    </li>

    <li>
      <var>Voltage sensor6 mv:</var>
      <var class="value"><%= device_state.voltage_sensor6_mv %></var>
    </li>

    <li>
      <var>Voltage sensor7 mv:</var>
      <var class="value"><%= device_state.voltage_sensor7_mv %></var>
    </li>

    <li>
      <var>Voltage sensor9 mv:</var>
      <var class="value"><%= device_state.voltage_sensor9_mv %></var>
    </li>

    <li>
      <var>Digital output1:</var>
      <var class="value"><%= device_state.digital_output1 %></var>
    </li>

    <li>
      <var>Digital output2:</var>
      <var class="value"><%= device_state.digital_output2 %></var>
    </li>

    <li>
      <var>Digital output3:</var>
      <var class="value"><%= device_state.digital_output3 %></var>
    </li>

    <li>
      <var>Digital output4:</var>
      <var class="value"><%= device_state.digital_output4 %></var>
    </li>

    <li>
      <var>Digital output5:</var>
      <var class="value"><%= device_state.digital_output5 %></var>
    </li>

    <li>
      <var>Digital output6:</var>
      <var class="value"><%= device_state.digital_output6 %></var>
    </li>

    <li>
      <var>Digital output7:</var>
      <var class="value"><%= device_state.digital_output7 %></var>
    </li>

    <li>
      <var>Digital output8:</var>
      <var class="value"><%= device_state.digital_output8 %></var>
    </li>

    <li>
      <var>Digital input1:</var>
      <var class="value"><%= device_state.digital_input1 %></var>
    </li>

    <li>
      <var>Digital input2:</var>
      <var class="value"><%= device_state.digital_input2 %></var>
    </li>

    <li>
      <var>Digital input3:</var>
      <var class="value"><%= device_state.digital_input3 %></var>
    </li>

    <li>
      <var>Digital input4:</var>
      <var class="value"><%= device_state.digital_input4 %></var>
    </li>

    <li>
      <var>Digital input5:</var>
      <var class="value"><%= device_state.digital_input5 %></var>
    </li>

    <li>
      <var>Digital input6:</var>
      <var class="value"><%= device_state.digital_input6 %></var>
    </li>

    <li>
      <var>Digital input7:</var>
      <var class="value"><%= device_state.digital_input7 %></var>
    </li>

    <li>
      <var>Digital input8:</var>
      <var class="value"><%= device_state.digital_input8 %></var>
    </li>

    <li>
      <var>Analog output1:</var>
      <var class="value"><%= device_state.analog_output1 %></var>
    </li>

    <li>
      <var>Analog output2:</var>
      <var class="value"><%= device_state.analog_output2 %></var>
    </li>

    <li>
      <var>Analog output3:</var>
      <var class="value"><%= device_state.analog_output3 %></var>
    </li>

    <li>
      <var>Analog output4:</var>
      <var class="value"><%= device_state.analog_output4 %></var>
    </li>

    <li>
      <var>Analog output5:</var>
      <var class="value"><%= device_state.analog_output5 %></var>
    </li>

    <li>
      <var>Analog output6:</var>
      <var class="value"><%= device_state.analog_output6 %></var>
    </li>

    <li>
      <var>Analog output7:</var>
      <var class="value"><%= device_state.analog_output7 %></var>
    </li>

    <li>
      <var>Analog output8:</var>
      <var class="value"><%= device_state.analog_output8 %></var>
    </li>

    <li>
      <var>Hall1 angle degrees:</var>
      <var class="value"><%= device_state.hall1_angle_degrees %></var>
    </li>

    <li>
      <var>Hall2 angle degrees:</var>
      <var class="value"><%= device_state.hall2_angle_degrees %></var>
    </li>

    <li>
      <var>Hall3 angle degrees:</var>
      <var class="value"><%= device_state.hall3_angle_degrees %></var>
    </li>

    <li>
      <var>Hall4 angle degrees:</var>
      <var class="value"><%= device_state.hall4_angle_degrees %></var>
    </li>

    <li>
      <var>Hall5 angle degrees:</var>
      <var class="value"><%= device_state.hall5_angle_degrees %></var>
    </li>

    <li>
      <var>Hall6 angle degrees:</var>
      <var class="value"><%= device_state.hall6_angle_degrees %></var>
    </li>

    <li>
      <var>Hall7 angle degrees:</var>
      <var class="value"><%= device_state.hall7_angle_degrees %></var>
    </li>

    <li>
      <var>Hall8 angle degrees:</var>
      <var class="value"><%= device_state.hall8_angle_degrees %></var>
    </li>

    <li>
      <var>Hall1 presence:</var>
      <var class="value"><%= device_state.hall1_presence %></var>
    </li>

    <li>
      <var>Hall2 presence:</var>
      <var class="value"><%= device_state.hall2_presence %></var>
    </li>

    <li>
      <var>Hall3 presence:</var>
      <var class="value"><%= device_state.hall3_presence %></var>
    </li>

    <li>
      <var>Hall4 presence:</var>
      <var class="value"><%= device_state.hall4_presence %></var>
    </li>

    <li>
      <var>Hall5 presence:</var>
      <var class="value"><%= device_state.hall5_presence %></var>
    </li>

    <li>
      <var>Hall6 presence:</var>
      <var class="value"><%= device_state.hall6_presence %></var>
    </li>

    <li>
      <var>Hall7 presence:</var>
      <var class="value"><%= device_state.hall7_presence %></var>
    </li>

    <li>
      <var>Hall8 presence:</var>
      <var class="value"><%= device_state.hall8_presence %></var>
    </li>
  </ul>
</details>