<div id="<%= dom_id device_state %>" class="device_state">
  <%= render "device_states/device_info", device_state: device_state  %> 

  <%= render "device_states/device_location", device_state: device_state  %> 

  <%= render "device_states/device_imu", device_state: device_state  %> 

  <%= render "device_states/device_configuration", device_state: device_state  %> 

  <%= render "device_states/device_temperature", device_state: device_state  %> 

<%= render "device_states/device_environmental", device_state: device_state  %> 

<%= render "device_states/device_battery", device_state: device_state  %> 

<%= render "device_states/device_esc", device_state: device_state  %> 

<%= render "device_states/device_efi", device_state: device_state  %> 

<%= render "device_states/device_xpdr", device_state: device_state  %> 

<%= render "device_states/device_cell", device_state: device_state  %> 

<%= render "device_states/device_wifi", device_state: device_state  %> 

<%= render "device_states/device_network", device_state: device_state  %> 

<%= render "device_states/device_rf", device_state: device_state  %> 

<%= render "device_states/device_heaters", device_state: device_state  %> 

<%= render "device_states/device_rangefinders", device_state: device_state  %> 

<%= render "device_states/device_solar", device_state: device_state  %> 

<%= render "device_states/device_mag", device_state: device_state  %> 

<%= render "device_states/device_buttons", device_state: device_state  %> 

<%= render "device_states/device_loadcells", device_state: device_state  %> 

<%= render "device_states/device_io", device_state: device_state  %> 

<%= render "device_states/device_radiation", device_state: device_state  %> 

<%= render "device_states/device_color", device_state: device_state  %> 

<%= render "device_states/device_text", device_state: device_state  %> 

</div>
