<details>
<summary>Heaters</summary>
  <ul>
    <li>
      <var>Heater1 v:</var>
      <var class="value"><%= device_state.heater1_v %></var>
    </li>

    <li>
      <var>Heater1 a:</var>
      <var class="value"><%= device_state.heater1_a %></var>
    </li>

    <li>
      <var>Heater1 temp c:</var>
      <var class="value"><%= device_state.heater1_temp_c %></var>
    </li>

    <li>
      <var>Heater2 v:</var>
      <var class="value"><%= device_state.heater2_v %></var>
    </li>

    <li>
      <var>Heater2 a:</var>
      <var class="value"><%= device_state.heater2_a %></var>
    </li>

    <li>
      <var>Heater2 temp c:</var>
      <var class="value"><%= device_state.heater2_temp_c %></var>
    </li>

    <li>
      <var>Heater3 v:</var>
      <var class="value"><%= device_state.heater3_v %></var>
    </li>

    <li>
      <var>Heater3 a:</var>
      <var class="value"><%= device_state.heater3_a %></var>
    </li>

    <li>
      <var>Heater3 temp c:</var>
      <var class="value"><%= device_state.heater3_temp_c %></var>
    </li>

    <li>
      <var>Heater4 v:</var>
      <var class="value"><%= device_state.heater4_v %></var>
    </li>

    <li>
      <var>Heater4 a:</var>
      <var class="value"><%= device_state.heater4_a %></var>
    </li>

    <li>
      <var>Heater4 temp c:</var>
      <var class="value"><%= device_state.heater4_temp_c %></var>
    </li>

    <li>
      <var>Humidity1:</var>
      <var class="value"><%= device_state.humidity1 %></var>
    </li>

    <li>
      <var>Humidity2:</var>
      <var class="value"><%= device_state.humidity2 %></var>
    </li>

    <li>
      <var>Fan1 v:</var>
      <var class="value"><%= device_state.fan1_v %></var>
    </li>

    <li>
      <var>Fan1 a:</var>
      <var class="value"><%= device_state.fan1_a %></var>
    </li>

    <li>
      <var>Fan1 rpm:</var>
      <var class="value"><%= device_state.fan1_rpm %></var>
    </li>

    <li>
      <var>Fan2 v:</var>
      <var class="value"><%= device_state.fan2_v %></var>
    </li>

    <li>
      <var>Fan2 a:</var>
      <var class="value"><%= device_state.fan2_a %></var>
    </li>

    <li>
      <var>Fan2 rpm:</var>
      <var class="value"><%= device_state.fan2_rpm %></var>
    </li>
  </ul>
   </details>