<div id="device_<%= device_state.Device_id %>_info">
  <%= render "device_states/device_info", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_location">
  <%= render "device_states/device_location", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_imu">
  <%= render "device_states/device_imu", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_configuration">
  <%= render "device_states/device_configuration", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_temperature">
  <%= render "device_states/device_temperature", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_environmental">
  <%= render "device_states/device_environmental", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_battery">
  <%= render "device_states/device_battery", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_esc">
  <%= render "device_states/device_esc", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_cell">
  <%= render "device_states/device_cell", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_wifi">
  <%= render "device_states/device_wifi", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_network">
  <%= render "device_states/device_network", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_heaters">
  <%= render "device_states/device_heaters", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_rangefinders">
  <%= render "device_states/device_rangefinders", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_solar">
  <%= render "device_states/device_solar", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_io">
  <%= render "device_states/device_io", device_state: device_state  %> 
</div>

<div id="device_<%= device_state.Device_id %>_text">
  <%= render "device_states/device_text", device_state: device_state  %> 
</div> 
