<details>
  <Summary class="summary-details">Device Info</Summary>

  <ul class="state-list">
    <li>
      <var>Version:</var>
      <var class="value"><%= device_state.version %></var>
    </li>

    <li>
      <var>Armed:</var>
      <var class="value"><%= device_state.armed %></var>
    </li>

    <li>
      <var>Pre-armed:</var>
      <var class="value"><%= device_state.prearmed %></var>
    </li>

    <li>
      <var>Mode:</var>
      <var class="value"><%= device_state.mode %></var>
    </li>

    <li>
      <var>Status:</var>
      <var class="value"><%= device_state.status %></var>
    </li>
  </ul>
</details>  
