<details>
<summary>IO</summary>
  <ul class="state-list">
    <li>
      <var>Current in[1] (mA):</var>
      <var class="value"><%= device_state.current_sensor1_ma %></var>
    </li>

    <li>
      <var>Current in[2] (mA):</var>
      <var class="value"><%= device_state.current_sensor2_ma %></var>
    </li>

    <li>
      <var>Current in[3] (mA):</var>
      <var class="value"><%= device_state.current_sensor3_ma %></var>
    </li>

    <li>
      <var>Current in[4] (mA):</var>
      <var class="value"><%= device_state.current_sensor4_ma %></var>
    </li>

    <li>
      <var>Current in[5] (mA):</var>
      <var class="value"><%= device_state.current_sensor5_ma %></var>
    </li>

    <li>
      <var>Current in[6] (mA):</var>
      <var class="value"><%= device_state.current_sensor6_ma %></var>
    </li>

    <li>
      <var>Current in[7] (mA):</var>
      <var class="value"><%= device_state.current_sensor7_ma %></var>
    </li>

    <li>
      <var>Current in[8] (mA):</var>
      <var class="value"><%= device_state.current_sensor8_ma %></var>
    </li>

    <li>
      <var>Voltage in[1] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor1_mv %></var>
    </li>

    <li>
      <var>Voltage in[2] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor2_mv %></var>
    </li>

    <li>
      <var>Voltage in[3] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor3_mv %></var>
    </li>

    <li>
      <var>Voltage in[4] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor4_mv %></var>
    </li>

    <li>
      <var>Voltage in[5] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor5_mv %></var>
    </li>

    <li>
      <var>Voltage in[6] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor6_mv %></var>
    </li>

    <li>
      <var>Voltage in[7] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor7_mv %></var>
    </li>

    <li>
      <var>Voltage in[8] (mV):</var>
      <var class="value"><%= device_state.voltage_sensor8_mv %></var>
    </li>

    <li>
      <var>Digital output[1]:</var>
      <var class="value"><%= device_state.digital_output1 %></var>
    </li>

    <li>
      <var>Digital output[2]:</var>
      <var class="value"><%= device_state.digital_output2 %></var>
    </li>

    <li>
      <var>Digital output[3]:</var>
      <var class="value"><%= device_state.digital_output3 %></var>
    </li>

    <li>
      <var>Digital output[4]:</var>
      <var class="value"><%= device_state.digital_output4 %></var>
    </li>

    <li>
      <var>Digital output[5]:</var>
      <var class="value"><%= device_state.digital_output5 %></var>
    </li>

    <li>
      <var>Digital output[6]:</var>
      <var class="value"><%= device_state.digital_output6 %></var>
    </li>

    <li>
      <var>Digital output[7]:</var>
      <var class="value"><%= device_state.digital_output7 %></var>
    </li>

    <li>
      <var>Digital output[8]:</var>
      <var class="value"><%= device_state.digital_output8 %></var>
    </li>

    <li>
      <var>Digital input[1]:</var>
      <var class="value"><%= device_state.digital_input1 %></var>
    </li>

    <li>
      <var>Digital input[2]:</var>
      <var class="value"><%= device_state.digital_input2 %></var>
    </li>

    <li>
      <var>Digital input[3]:</var>
      <var class="value"><%= device_state.digital_input3 %></var>
    </li>

    <li>
      <var>Digital input[4]:</var>
      <var class="value"><%= device_state.digital_input4 %></var>
    </li>

    <li>
      <var>Digital input[5]:</var>
      <var class="value"><%= device_state.digital_input5 %></var>
    </li>

    <li>
      <var>Digital input[6]:</var>
      <var class="value"><%= device_state.digital_input6 %></var>
    </li>

    <li>
      <var>Digital input[7]:</var>
      <var class="value"><%= device_state.digital_input7 %></var>
    </li>

    <li>
      <var>Digital input[8]:</var>
      <var class="value"><%= device_state.digital_input8 %></var>
    </li>

    <li>
      <var>Analog output[1] (mV):</var>
      <var class="value"><%= device_state.analog_output1 %></var>
    </li>

    <li>
      <var>Analog output[2] (mV):</var>
      <var class="value"><%= device_state.analog_output2 %></var>
    </li>

    <li>
      <var>Analog output[3] (mV):</var>
      <var class="value"><%= device_state.analog_output3 %></var>
    </li>

    <li>
      <var>Analog output[4] (mV):</var>
      <var class="value"><%= device_state.analog_output4 %></var>
    </li>

    <li>
      <var>Analog output[5] (mV):</var>
      <var class="value"><%= device_state.analog_output5 %></var>
    </li>

    <li>
      <var>Analog output[6] (mV):</var>
      <var class="value"><%= device_state.analog_output6 %></var>
    </li>

    <li>
      <var>Analog output[7] (mV):</var>
      <var class="value"><%= device_state.analog_output7 %></var>
    </li>

    <li>
      <var>Analog output[8] (mV):</var>
      <var class="value"><%= device_state.analog_output8 %></var>
    </li>

    <li>
      <var>Hall[1] angle (°):</var>
      <var class="value"><%= device_state.hall1_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[2] angle (°):</var>
      <var class="value"><%= device_state.hall2_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[3] angle (°):</var>
      <var class="value"><%= device_state.hall3_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[4] angle (°):</var>
      <var class="value"><%= device_state.hall4_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[5] angle (°):</var>
      <var class="value"><%= device_state.hall5_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[6] angle (°):</var>
      <var class="value"><%= device_state.hall6_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[7] angle (°):</var>
      <var class="value"><%= device_state.hall7_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[8] angle (°):</var>
      <var class="value"><%= device_state.hall8_angle_degrees %></var>
    </li>

    <li>
      <var>Hall[1] presence:</var>
      <var class="value"><%= device_state.hall1_presence %></var>
    </li>

    <li>
      <var>Hall[2] presence:</var>
      <var class="value"><%= device_state.hall2_presence %></var>
    </li>

    <li>
      <var>Hall[3] presence:</var>
      <var class="value"><%= device_state.hall3_presence %></var>
    </li>

    <li>
      <var>Hall[4] presence:</var>
      <var class="value"><%= device_state.hall4_presence %></var>
    </li>

    <li>
      <var>Hall[5] presence:</var>
      <var class="value"><%= device_state.hall5_presence %></var>
    </li>

    <li>
      <var>Hall[6] presence:</var>
      <var class="value"><%= device_state.hall6_presence %></var>
    </li>

    <li>
      <var>Hall[7] presence:</var>
      <var class="value"><%= device_state.hall7_presence %></var>
    </li>

    <li>
      <var>Hall[8] presence:</var>
      <var class="value"><%= device_state.hall8_presence %></var>
    </li>
  </ul>
</details>

