<details>
<summary>Network</summary>
  <ul class="state-list">
    <li>
      <var>Mac address:</var>
      <var class="value"><%= device_state.mac_address %></var>
    </li>

    <li>
      <var>Ethernet link status:</var>
      <var class="value"><%= device_state.ethernet_link_status %></var>
    </li>

    <li>
      <var>Ethernet speed:</var>
      <var class="value"><%= device_state.ethernet_speed %></var>
    </li>

    <li>
      <var>Ip address:</var>
      <var class="value"><%= device_state.ip_address %></var>
    </li>

    <li>
      <var>Subnet mask:</var>
      <var class="value"><%= device_state.subnet_mask %></var>
    </li>

    <li>
      <var>Default gateway:</var>
      <var class="value"><%= device_state.default_gateway %></var>
    </li>

    <li>
      <var>Dhcp status:</var>
      <var class="value"><%= device_state.dhcp_status %></var>
    </li>

    <li>
      <var>Dhcp lease:</var>
      <var class="value"><%= device_state.dhcp_lease %></var>
    </li>
  </ul>
  </details>

