<details>
<summary>Rangefinders</summary>
  <ul>
    <li>
      <var>Rangefinder1 m:</var>
      <var class="value"><%= device_state.rangefinder1_m %></var>
    </li>

    <li>
      <var>Rangefinder2 m:</var>
      <var class="value"><%= device_state.rangefinder2_m %></var>
    </li>

    <li>
      <var>Rangefinder3 m:</var>
      <var class="value"><%= device_state.rangefinder3_m %></var>
    </li>

    <li>
      <var>Rangefinder4 m:</var>
      <var class="value"><%= device_state.rangefinder4_m %></var>
    </li>

    <li>
      <var>Rangefinder5 m:</var>
      <var class="value"><%= device_state.rangefinder5_m %></var>
    </li>

    <li>
      <var>Rangefinder6 m:</var>
      <var class="value"><%= device_state.rangefinder6_m %></var>
    </li>

    <li>
      <var>Rangefinder7 m:</var>
      <var class="value"><%= device_state.rangefinder7_m %></var>
    </li>

    <li>
      <var>Rangefinder8 m:</var>
      <var class="value"><%= device_state.rangefinder8_m %></var>
    </li>
  </ul>
  </details>
