<details>
<summary>Configuration</summary>
  <ul>
    <li>
      <var>Gimbal Heading (°):</var>
      <var class="value"><%= device_state.gimbal_heading_deg %></var>
    </li>

    <li>
      <var>Gimbal Tilt (°):</var>
      <var class="value"><%= device_state.gimbal_tilt_deg %></var>
    </li>

    <li>
      <var>Gimbal Yaw (°):</var>
      <var class="value"><%= device_state.gimbal_yaw_deg %></var>
    </li>

    <li>
      <var>Gimbal Target Heading (°):</var>
      <var class="value"><%= device_state.gimbal_target_heading_deg %></var>
    </li>

    <li>
      <var>Gimbal Target Tilt (°):</var>
      <var class="value"><%= device_state.gimbal_target_tilt_deg %></var>
    </li>

    <li>
      <var>Gimbal Target Yaw (°):</var>
      <var class="value"><%= device_state.gimbal_target_yaw_deg %></var>
    </li>

    <li>
      <var>Nav Bearing:</var>
      <var class="value"><%= device_state.nav_bearing %></var>
    </li>

    <li>
      <var>Nav Pitch:</var>
      <var class="value"><%= device_state.nav_pitch %></var>
    </li>

    <li>      
      <var>Magnetic Field (X):</var>
      <var class="value"><%= device_state.magnetic_x %></var>
    </li>

    <li>
      <var>Magnetic Field (Y):</var>
      <var class="value"><%= device_state.magnetic_y %></var>
    </li>

    <li>
      <var>Magnetic Field (Z):</var>
      <var class="value"><%= device_state.magnetic_z %></var>
    </li>

    <li>
      <var>Sonar range m:</var>
      <var class="value"><%= device_state.sonar_range_m %></var>
    </li>

    <li>
      <var>Sonar v:</var>
      <var class="value"><%= device_state.sonar_v %></var>
    </li>

    <li>
      <var>Terrainactive:</var>
      <var class="value"><%= device_state.terrainactive %></var>
    </li>

    <li>
      <var>Safetyactive:</var>
      <var class="value"><%= device_state.safetyactive %></var>
    </li>

    <li>
      <var>Failsafe:</var>
      <var class="value"><%= device_state.failsafe %></var>
    </li>
  </ul>
</details>