<details>
<summary>Heaters</summary>
  <ul class="state-list">
    <li>
      <var>Heater voltage (V):</var>
      <var class="value"><%= device_state.heater1_v %></var>
    </li>

    <li>
      <var>Heater current (A):</var>
      <var class="value"><%= device_state.heater1_a %></var>
    </li>

    <li>
      <var>Heater temp (°C) :</var>
      <var class="value"><%= device_state.heater1_temp_c %></var>
    </li>

    <li>
      <var>Humidity (%):</var>
      <var class="value"><%= device_state.humidity1 %>%</var>
    </li>

    <li>
      <var>Fan voltage (V):</var>
      <var class="value"><%= device_state.fan1_v %></var>
    </li>

    <li>
      <var>Fan current (A):</var>
      <var class="value"><%= device_state.fan1_a %></var>
    </li>

    <li>
      <var>Fan rpm:</var>
      <var class="value"><%= device_state.fan1_rpm %></var>
    </li>

  </ul>
   </details>

