<details>
<summary>Wifi</summary>
  <ul class="state-list">
    <li>
      <var>Wifi ssid:</var>
      <var class="value"><%= device_state.wifi_ssid %></var>
    </li>

    <li>
      <var>Wifi bssid:</var>
      <var class="value"><%= device_state.wifi_bssid %></var>
    </li>

    <li>
      <var>Wifi rssi dbm:</var>
      <var class="value"><%= device_state.wifi_rssi_dbm %></var>
    </li>

    <li>
      <var>Wifi snr db:</var>
      <var class="value"><%= device_state.wifi_snr_db %></var>
    </li>

    <li>
      <var>Wifi link speed mbps:</var>
      <var class="value"><%= device_state.wifi_link_speed_mbps %></var>
    </li>

    <li>
      <var>Wifi band:</var>
      <var class="value"><%= device_state.wifi_band %></var>
    </li>

    <li>
      <var>Wifi channel:</var>
      <var class="value"><%= device_state.wifi_channel %></var>
    </li>

    <li>
      <var>Wifi ip address:</var>
      <var class="value"><%= device_state.wifi_ip_address %></var>
    </li>

    <li>
      <var>Wifi connection status:</var>
      <var class="value"><%= device_state.wifi_connection_status %></var>
    </li>

    <li>
      <var>Wifi uptime sec:</var>
      <var class="value"><%= device_state.wifi_uptime_sec %></var>
    </li>

    <li>
      <var>Wifi bytes sent:</var>
      <var class="value"><%= device_state.wifi_bytes_sent %></var>
    </li>

    <li>
      <var>Wifi bytes received:</var>
      <var class="value"><%= device_state.wifi_bytes_received %></var>
    </li>
  </ul>
</details>
