<details>
<summary>Temperature</summary>
  <ul>
    <li>
      <var>Temp1 (°C):</var>
      <var class="value"><%= device_state.temp1_c %></var>
    </li>

    <li>
      <var>Temp2 (°C):</var>
      <var class="value"><%= device_state.temp2_c %></var>
    </li>

    <li>
      <var>Temp3 (°C):</var>
      <var class="value"><%= device_state.temp3_c %></var>
    </li>

    <li>
      <var>Temp4 (°C):</var>
      <var class="value"><%= device_state.temp4_c %></var>
    </li>

    <li>
      <var>Temp5 (°C):</var>
      <var class="value"><%= device_state.temp5_c %></var>
    </li>

    <li>
      <var>Temp6 (°C):</var>
      <var class="value"><%= device_state.temp6_c %></var>
    </li>

    <li>
      <var>Temp7 (°C):</var>
      <var class="value"><%= device_state.temp7_c %></var>
    </li>

    <li>
      <var>Temp8 (°C):</var>
      <var class="value"><%= device_state.temp8_c %></var>
    </li>
  </ul>
</details>