<details>
<summary>Battery</summary>
  <ul>
    <li>
      <var>Battery1 v:</var>
      <var class="value"><%= device_state.battery1_v %></var>
    </li>

    <li>
      <var>Battery1 a:</var>
      <var class="value"><%= device_state.battery1_a %></var>
    </li>

    <li>
      <var>Battery1 temp c:</var>
      <var class="value"><%= device_state.battery1_temp_c %></var>
    </li>

    <li>
      <var>Battery1 percent:</var>
      <var class="value"><%= device_state.battery1_percent %></var>
    </li>

    <li>
      <var>Battery2 v:</var>
      <var class="value"><%= device_state.battery2_v %></var>
    </li>

    <li>
      <var>Battery2 a:</var>
      <var class="value"><%= device_state.battery2_a %></var>
    </li>

    <li>
      <var>Battery2 temp c:</var>
      <var class="value"><%= device_state.battery2_temp_c %></var>
    </li>

    <li>
      <var>Battery2 percent:</var>
      <var class="value"><%= device_state.battery2_percent %></var>
    </li>

    <li>
      <var>Battery3 v:</var>
      <var class="value"><%= device_state.battery3_v %></var>
    </li>

    <li>
      <var>Battery3 a:</var>
      <var class="value"><%= device_state.battery3_a %></var>
    </li>

    <li>
      <var>Battery3 temp c:</var>
      <var class="value"><%= device_state.battery3_temp_c %></var>
    </li>

    <li>
      <var>Battery3 percent:</var>
      <var class="value"><%= device_state.battery3_percent %></var>
    </li>

    <li>
      <var>Battery4 v:</var>
      <var class="value"><%= device_state.battery4_v %></var>
    </li>

    <li>
      <var>Battery4 a:</var>
      <var class="value"><%= device_state.battery4_a %></var>
    </li>

    <li>
      <var>Battery4 temp c:</var>
      <var class="value"><%= device_state.battery4_temp_c %></var>
    </li>

    <li>
      <var>Battery4 percent:</var>
      <var class="value"><%= device_state.battery4_percent %></var>
    </li>

    <li>
      <var>Battery5 v:</var>
      <var class="value"><%= device_state.battery5_v %></var>
    </li>

    <li>
      <var>Battery5 a:</var>
      <var class="value"><%= device_state.battery5_a %></var>
    </li>

    <li>
      <var>Battery5 temp c:</var>
      <var class="value"><%= device_state.battery5_temp_c %></var>
    </li>

    <li>
      <var>Battery5 percent:</var>
      <var class="value"><%= device_state.battery5_percent %></var>
    </li>

    <li>
      <var>Battery6 v:</var>
      <var class="value"><%= device_state.battery6_v %></var>
    </li>

    <li>
      <var>Battery6 a:</var>
      <var class="value"><%= device_state.battery6_a %></var>
    </li>

    <li>
      <var>Battery6 temp c:</var>
      <var class="value"><%= device_state.battery6_temp_c %></var>
    </li>

    <li>
      <var>Battery6 percent:</var>
      <var class="value"><%= device_state.battery6_percent %></var>
    </li>

    <li>
      <var>Battery7 v:</var>
      <var class="value"><%= device_state.battery7_v %></var>
    </li>

    <li>
      <var>Battery7 a:</var>
      <var class="value"><%= device_state.battery7_a %></var>
    </li>

    <li>
      <var>Battery7 temp c:</var>
      <var class="value"><%= device_state.battery7_temp_c %></var>
    </li>

    <li>
      <var>Battery7 percent:</var>
      <var class="value"><%= device_state.battery7_percent %></var>
    </li>

    <li>
      <var>Battery8 v:</var>
      <var class="value"><%= device_state.battery8_v %></var>
    </li>

    <li>
      <var>Battery8 a:</var>
      <var class="value"><%= device_state.battery8_a %></var>
    </li>

    <li>
      <var>Battery8 temp c:</var>
      <var class="value"><%= device_state.battery8_temp_c %></var>
    </li>

    <li>
      <var>Battery8 percent:</var>
      <var class="value"><%= device_state.battery8_percent %></var>
    </li>
  </ul>
  </details>