<details data-controller="device-update" 
         data-device-id="<%= device_state.Device_id %>"
         data-device-name="<%= device_state.Device&.name %>"
         data-device-lat="<%= device_state.latitude1 %>"
         data-device-lng="<%= device_state.longitude1 %>"
         data-device-battery1="<%= device_state.battery1_percent %>"
         data-device-battery2="<%= device_state.battery2_percent %>">
  <Summary class="summary-details">Location</Summary>
  <ul class="state-list">
    <li>
      <var>Latitude:</var>
      <var class="value"><%= device_state.latitude1 %></var>
    </li>

    <li>
      <var>Longitude:</var>
      <var class="value"><%= device_state.longitude1 %></var>
    </li>

    <li>
      <var>Status:</var>
      <var class="value"><%= device_state.gps1_status %></var>
    </li>

    <li>
      <var>timestamp:</var>
      <var class="value"><%= device_state.gps1_timestamp %></var>
    </li>

    <li>
      <var>Satellite count:</var>
      <var class="value"><%= device_state.satcount1 %></var>
    </li>

    <li>
      <var>Altitude (m):</var>
      <var class="value"><%= device_state.gps1_altitude %></var>
    </li>

    <li>
      <var>Speed (m/s):</var>
      <var class="value"><%= device_state.gps1_speed %></var>
    </li>

    <li>
      <var>Heading (°):</var>
      <var class="value"><%= device_state.gps1_heading %>°</var>
    </li>

    <li>
      <var title="Horizontal dilution of precision">HDOP:</var>
      <var class="value"><%= device_state.gps1_hdop %></var>
    </li>

    <li>
      <var>Fix type:</var>
      <var class="value"><%= device_state.gps1_fix_type %></var>
    </li>

      </ul>
  </details>
