<details>
<summary>Text</summary>
  <ul class="state-list">
    <li>
      <var>Text1:</var>
      <var class="value"><%= device_state.text1 %></var>
    </li>

    <li>
      <var>Text2:</var>
      <var class="value"><%= device_state.text2 %></var>
    </li>

    <li>
      <var>Text3:</var>
      <var class="value"><%= device_state.text3 %></var>
    </li>

    <li>
      <var>Text4:</var>
      <var class="value"><%= device_state.text4 %></var>
    </li>

    <li>
      <var>Text5:</var>
      <var class="value"><%= device_state.text5 %></var>
    </li>

    <li>
      <var>Text6:</var>
      <var class="value"><%= device_state.text6 %></var>
    </li>

    <li>
      <var>Text7:</var>
      <var class="value"><%= device_state.text7 %></var>
    </li>

    <li>
      <var>Text8:</var>
      <var class="value"><%= device_state.text8 %></var>
    </li>
  </ul>
  </details>

