<div id="<%= dom_id device_state %>">
  <p>
    <strong>Device:</strong>
    <%= device_state.Device_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= device_state.version %>
  </p>

  <p>
    <strong>Armed:</strong>
    <%= device_state.armed %>
  </p>

  <p>
    <strong>Prearmed:</strong>
    <%= device_state.prearmed %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= device_state.mode %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= device_state.status %>
  </p>

  <p>
    <strong>Latitude1:</strong>
    <%= device_state.latitude1 %>
  </p>

  <p>
    <strong>Longitude1:</strong>
    <%= device_state.longitude1 %>
  </p>

  <p>
    <strong>Gps1 status:</strong>
    <%= device_state.gps1_status %>
  </p>

  <p>
    <strong>Gps1 timestamp:</strong>
    <%= device_state.gps1_timestamp %>
  </p>

  <p>
    <strong>Satcount1:</strong>
    <%= device_state.satcount1 %>
  </p>

  <p>
    <strong>Gps1 altitude:</strong>
    <%= device_state.gps1_altitude %>
  </p>

  <p>
    <strong>Gps1 speed:</strong>
    <%= device_state.gps1_speed %>
  </p>

  <p>
    <strong>Gps1 heading:</strong>
    <%= device_state.gps1_heading %>
  </p>

  <p>
    <strong>Gps1 hdop:</strong>
    <%= device_state.gps1_hdop %>
  </p>

  <p>
    <strong>Gps1 fix type:</strong>
    <%= device_state.gps1_fix_type %>
  </p>

  <p>
    <strong>Latitude2:</strong>
    <%= device_state.latitude2 %>
  </p>

  <p>
    <strong>Longitude2:</strong>
    <%= device_state.longitude2 %>
  </p>

  <p>
    <strong>Gps2 status:</strong>
    <%= device_state.gps2_status %>
  </p>

  <p>
    <strong>Gps2 timestamp:</strong>
    <%= device_state.gps2_timestamp %>
  </p>

  <p>
    <strong>Satcount2:</strong>
    <%= device_state.satcount2 %>
  </p>

  <p>
    <strong>Gps2 altitude:</strong>
    <%= device_state.gps2_altitude %>
  </p>

  <p>
    <strong>Gps2 speed:</strong>
    <%= device_state.gps2_speed %>
  </p>

  <p>
    <strong>Gps2 heading:</strong>
    <%= device_state.gps2_heading %>
  </p>

  <p>
    <strong>Gps2 hdop:</strong>
    <%= device_state.gps2_hdop %>
  </p>

  <p>
    <strong>Gps2 fix type:</strong>
    <%= device_state.gps2_fix_type %>
  </p>

  <p>
    <strong>Vibex:</strong>
    <%= device_state.vibex %>
  </p>

  <p>
    <strong>Vibey:</strong>
    <%= device_state.vibey %>
  </p>

  <p>
    <strong>Vibez:</strong>
    <%= device_state.vibez %>
  </p>

  <p>
    <strong>Heading deg:</strong>
    <%= device_state.heading_deg %>
  </p>

  <p>
    <strong>Roll deg:</strong>
    <%= device_state.roll_deg %>
  </p>

  <p>
    <strong>Yaw deg:</strong>
    <%= device_state.yaw_deg %>
  </p>

  <p>
    <strong>Landed:</strong>
    <%= device_state.landed %>
  </p>

  <p>
    <strong>Landed state:</strong>
    <%= device_state.landed_state %>
  </p>

  <p>
    <strong>Timeinair:</strong>
    <%= device_state.timeInAir %>
  </p>

  <p>
    <strong>Extended1:</strong>
    <%= device_state.extended1 %>
  </p>

  <p>
    <strong>Extend1:</strong>
    <%= device_state.extend1 %>
  </p>

  <p>
    <strong>Extended2:</strong>
    <%= device_state.extended2 %>
  </p>

  <p>
    <strong>Extend2:</strong>
    <%= device_state.extend2 %>
  </p>

  <p>
    <strong>Maglock:</strong>
    <%= device_state.maglock %>
  </p>

  <p>
    <strong>Laser:</strong>
    <%= device_state.laser %>
  </p>

  <p>
    <strong>Headlight:</strong>
    <%= device_state.headlight %>
  </p>

  <p>
    <strong>Spotlight:</strong>
    <%= device_state.spotlight %>
  </p>

  <p>
    <strong>Ax1:</strong>
    <%= device_state.ax1 %>
  </p>

  <p>
    <strong>Ay1:</strong>
    <%= device_state.ay1 %>
  </p>

  <p>
    <strong>Az1:</strong>
    <%= device_state.az1 %>
  </p>

  <p>
    <strong>Ax2:</strong>
    <%= device_state.ax2 %>
  </p>

  <p>
    <strong>Ay2:</strong>
    <%= device_state.ay2 %>
  </p>

  <p>
    <strong>Az2:</strong>
    <%= device_state.az2 %>
  </p>

  <p>
    <strong>Ax3:</strong>
    <%= device_state.ax3 %>
  </p>

  <p>
    <strong>Ay3:</strong>
    <%= device_state.ay3 %>
  </p>

  <p>
    <strong>Az3:</strong>
    <%= device_state.az3 %>
  </p>

  <p>
    <strong>Vx:</strong>
    <%= device_state.vx %>
  </p>

  <p>
    <strong>Vy:</strong>
    <%= device_state.vy %>
  </p>

  <p>
    <strong>Vz:</strong>
    <%= device_state.vz %>
  </p>

  <p>
    <strong>Imu1 temp c:</strong>
    <%= device_state.imu1_temp_c %>
  </p>

  <p>
    <strong>Imu2 temp c:</strong>
    <%= device_state.imu2_temp_c %>
  </p>

  <p>
    <strong>Imu3 temp c:</strong>
    <%= device_state.imu3_temp_c %>
  </p>

  <p>
    <strong>Gimbal heading deg:</strong>
    <%= device_state.gimbal_heading_deg %>
  </p>

  <p>
    <strong>Gimbal tilt deg:</strong>
    <%= device_state.gimbal_tilt_deg %>
  </p>

  <p>
    <strong>Gimbal yaw deg:</strong>
    <%= device_state.gimbal_yaw_deg %>
  </p>

  <p>
    <strong>Gimbal target heading deg:</strong>
    <%= device_state.gimbal_target_heading_deg %>
  </p>

  <p>
    <strong>Gimbal target tilt deg:</strong>
    <%= device_state.gimbal_target_tilt_deg %>
  </p>

  <p>
    <strong>Gimbal target yaw deg:</strong>
    <%= device_state.gimbal_target_yaw_deg %>
  </p>

  <p>
    <strong>Nav bearing:</strong>
    <%= device_state.nav_bearing %>
  </p>

  <p>
    <strong>Nav pitch:</strong>
    <%= device_state.nav_pitch %>
  </p>

  <p>
    <strong>Nav roll:</strong>
    <%= device_state.nav_roll %>
  </p>

  <p>
    <strong>Magnetic x:</strong>
    <%= device_state.magnetic_x %>
  </p>

  <p>
    <strong>Magnetic y:</strong>
    <%= device_state.magnetic_y %>
  </p>

  <p>
    <strong>Magnetic z:</strong>
    <%= device_state.magnetic_z %>
  </p>

  <p>
    <strong>Sonar range m:</strong>
    <%= device_state.sonar_range_m %>
  </p>

  <p>
    <strong>Sonar v:</strong>
    <%= device_state.sonar_v %>
  </p>

  <p>
    <strong>Terrainactive:</strong>
    <%= device_state.terrainactive %>
  </p>

  <p>
    <strong>Safetyactive:</strong>
    <%= device_state.safetyactive %>
  </p>

  <p>
    <strong>Failsafe:</strong>
    <%= device_state.failsafe %>
  </p>

  <p>
    <strong>Temp1 c:</strong>
    <%= device_state.temp1_c %>
  </p>

  <p>
    <strong>Temp2 c:</strong>
    <%= device_state.temp2_c %>
  </p>

  <p>
    <strong>Temp3 c:</strong>
    <%= device_state.temp3_c %>
  </p>

  <p>
    <strong>Temp4 c:</strong>
    <%= device_state.temp4_c %>
  </p>

  <p>
    <strong>Temp5 c:</strong>
    <%= device_state.temp5_c %>
  </p>

  <p>
    <strong>Temp6 c:</strong>
    <%= device_state.temp6_c %>
  </p>

  <p>
    <strong>Temp7 c:</strong>
    <%= device_state.temp7_c %>
  </p>

  <p>
    <strong>Temp8 c:</strong>
    <%= device_state.temp8_c %>
  </p>

  <p>
    <strong>Pressure pa:</strong>
    <%= device_state.pressure_pa %>
  </p>

  <p>
    <strong>Airspeed:</strong>
    <%= device_state.airspeed %>
  </p>

  <p>
    <strong>Battery1 v:</strong>
    <%= device_state.battery1_v %>
  </p>

  <p>
    <strong>Battery1 a:</strong>
    <%= device_state.battery1_a %>
  </p>

  <p>
    <strong>Battery1 temp c:</strong>
    <%= device_state.battery1_temp_c %>
  </p>

  <p>
    <strong>Battery1 percent:</strong>
    <%= device_state.battery1_percent %>
  </p>

  <p>
    <strong>Battery2 v:</strong>
    <%= device_state.battery2_v %>
  </p>

  <p>
    <strong>Battery2 a:</strong>
    <%= device_state.battery2_a %>
  </p>

  <p>
    <strong>Battery2 temp c:</strong>
    <%= device_state.battery2_temp_c %>
  </p>

  <p>
    <strong>Battery2 percent:</strong>
    <%= device_state.battery2_percent %>
  </p>

  <p>
    <strong>Battery3 v:</strong>
    <%= device_state.battery3_v %>
  </p>

  <p>
    <strong>Battery3 a:</strong>
    <%= device_state.battery3_a %>
  </p>

  <p>
    <strong>Battery3 temp c:</strong>
    <%= device_state.battery3_temp_c %>
  </p>

  <p>
    <strong>Battery3 percent:</strong>
    <%= device_state.battery3_percent %>
  </p>

  <p>
    <strong>Battery4 v:</strong>
    <%= device_state.battery4_v %>
  </p>

  <p>
    <strong>Battery4 a:</strong>
    <%= device_state.battery4_a %>
  </p>

  <p>
    <strong>Battery4 temp c:</strong>
    <%= device_state.battery4_temp_c %>
  </p>

  <p>
    <strong>Battery4 percent:</strong>
    <%= device_state.battery4_percent %>
  </p>

  <p>
    <strong>Battery5 v:</strong>
    <%= device_state.battery5_v %>
  </p>

  <p>
    <strong>Battery5 a:</strong>
    <%= device_state.battery5_a %>
  </p>

  <p>
    <strong>Battery5 temp c:</strong>
    <%= device_state.battery5_temp_c %>
  </p>

  <p>
    <strong>Battery5 percent:</strong>
    <%= device_state.battery5_percent %>
  </p>

  <p>
    <strong>Battery6 v:</strong>
    <%= device_state.battery6_v %>
  </p>

  <p>
    <strong>Battery6 a:</strong>
    <%= device_state.battery6_a %>
  </p>

  <p>
    <strong>Battery6 temp c:</strong>
    <%= device_state.battery6_temp_c %>
  </p>

  <p>
    <strong>Battery6 percent:</strong>
    <%= device_state.battery6_percent %>
  </p>

  <p>
    <strong>Battery7 v:</strong>
    <%= device_state.battery7_v %>
  </p>

  <p>
    <strong>Battery7 a:</strong>
    <%= device_state.battery7_a %>
  </p>

  <p>
    <strong>Battery7 temp c:</strong>
    <%= device_state.battery7_temp_c %>
  </p>

  <p>
    <strong>Battery7 percent:</strong>
    <%= device_state.battery7_percent %>
  </p>

  <p>
    <strong>Battery8 v:</strong>
    <%= device_state.battery8_v %>
  </p>

  <p>
    <strong>Battery8 a:</strong>
    <%= device_state.battery8_a %>
  </p>

  <p>
    <strong>Battery8 temp c:</strong>
    <%= device_state.battery8_temp_c %>
  </p>

  <p>
    <strong>Battery8 percent:</strong>
    <%= device_state.battery8_percent %>
  </p>

  <p>
    <strong>Esc1 v:</strong>
    <%= device_state.esc1_v %>
  </p>

  <p>
    <strong>Esc1 a:</strong>
    <%= device_state.esc1_a %>
  </p>

  <p>
    <strong>Esc1 temp c:</strong>
    <%= device_state.esc1_temp_c %>
  </p>

  <p>
    <strong>Esc1 rpm:</strong>
    <%= device_state.esc1_rpm %>
  </p>

  <p>
    <strong>Esc2 v:</strong>
    <%= device_state.esc2_v %>
  </p>

  <p>
    <strong>Esc2 a:</strong>
    <%= device_state.esc2_a %>
  </p>

  <p>
    <strong>Esc2 temp c:</strong>
    <%= device_state.esc2_temp_c %>
  </p>

  <p>
    <strong>Esc2 rpm:</strong>
    <%= device_state.esc2_rpm %>
  </p>

  <p>
    <strong>Esc3 v:</strong>
    <%= device_state.esc3_v %>
  </p>

  <p>
    <strong>Esc3 a:</strong>
    <%= device_state.esc3_a %>
  </p>

  <p>
    <strong>Esc3 temp c:</strong>
    <%= device_state.esc3_temp_c %>
  </p>

  <p>
    <strong>Esc3 rpm:</strong>
    <%= device_state.esc3_rpm %>
  </p>

  <p>
    <strong>Esc4 v:</strong>
    <%= device_state.esc4_v %>
  </p>

  <p>
    <strong>Esc4 a:</strong>
    <%= device_state.esc4_a %>
  </p>

  <p>
    <strong>Esc4 temp c:</strong>
    <%= device_state.esc4_temp_c %>
  </p>

  <p>
    <strong>Esc4 rpm:</strong>
    <%= device_state.esc4_rpm %>
  </p>

  <p>
    <strong>Esc5 v:</strong>
    <%= device_state.esc5_v %>
  </p>

  <p>
    <strong>Esc5 a:</strong>
    <%= device_state.esc5_a %>
  </p>

  <p>
    <strong>Esc5 temp c:</strong>
    <%= device_state.esc5_temp_c %>
  </p>

  <p>
    <strong>Esc5 rpm:</strong>
    <%= device_state.esc5_rpm %>
  </p>

  <p>
    <strong>Esc6 v:</strong>
    <%= device_state.esc6_v %>
  </p>

  <p>
    <strong>Esc6 a:</strong>
    <%= device_state.esc6_a %>
  </p>

  <p>
    <strong>Esc6 temp c:</strong>
    <%= device_state.esc6_temp_c %>
  </p>

  <p>
    <strong>Esc6 rpm:</strong>
    <%= device_state.esc6_rpm %>
  </p>

  <p>
    <strong>Esc7 v:</strong>
    <%= device_state.esc7_v %>
  </p>

  <p>
    <strong>Esc7 a:</strong>
    <%= device_state.esc7_a %>
  </p>

  <p>
    <strong>Esc7 temp c:</strong>
    <%= device_state.esc7_temp_c %>
  </p>

  <p>
    <strong>Esc7 rpm:</strong>
    <%= device_state.esc7_rpm %>
  </p>

  <p>
    <strong>Esc8 v:</strong>
    <%= device_state.esc8_v %>
  </p>

  <p>
    <strong>Esc8 a:</strong>
    <%= device_state.esc8_a %>
  </p>

  <p>
    <strong>Esc8 temp c:</strong>
    <%= device_state.esc8_temp_c %>
  </p>

  <p>
    <strong>Esc8 rpm:</strong>
    <%= device_state.esc8_rpm %>
  </p>

  <p>
    <strong>Esc9 v:</strong>
    <%= device_state.esc9_v %>
  </p>

  <p>
    <strong>Esc9 a:</strong>
    <%= device_state.esc9_a %>
  </p>

  <p>
    <strong>Esc9 temp c:</strong>
    <%= device_state.esc9_temp_c %>
  </p>

  <p>
    <strong>Esc9 rpm:</strong>
    <%= device_state.esc9_rpm %>
  </p>

  <p>
    <strong>Esc10 v:</strong>
    <%= device_state.esc10_v %>
  </p>

  <p>
    <strong>Esc10 a:</strong>
    <%= device_state.esc10_a %>
  </p>

  <p>
    <strong>Esc10 temp c:</strong>
    <%= device_state.esc10_temp_c %>
  </p>

  <p>
    <strong>Esc10 rpm:</strong>
    <%= device_state.esc10_rpm %>
  </p>

  <p>
    <strong>Esc11 v:</strong>
    <%= device_state.esc11_v %>
  </p>

  <p>
    <strong>Esc11 a:</strong>
    <%= device_state.esc11_a %>
  </p>

  <p>
    <strong>Esc11 temp c:</strong>
    <%= device_state.esc11_temp_c %>
  </p>

  <p>
    <strong>Esc11 rpm:</strong>
    <%= device_state.esc11_rpm %>
  </p>

  <p>
    <strong>Esc12 v:</strong>
    <%= device_state.esc12_v %>
  </p>

  <p>
    <strong>Esc12 a:</strong>
    <%= device_state.esc12_a %>
  </p>

  <p>
    <strong>Esc12 temp c:</strong>
    <%= device_state.esc12_temp_c %>
  </p>

  <p>
    <strong>Esc12 rpm:</strong>
    <%= device_state.esc12_rpm %>
  </p>

  <p>
    <strong>Esc13 v:</strong>
    <%= device_state.esc13_v %>
  </p>

  <p>
    <strong>Esc13 a:</strong>
    <%= device_state.esc13_a %>
  </p>

  <p>
    <strong>Esc13 temp c:</strong>
    <%= device_state.esc13_temp_c %>
  </p>

  <p>
    <strong>Esc13 rpm:</strong>
    <%= device_state.esc13_rpm %>
  </p>

  <p>
    <strong>Esc14 v:</strong>
    <%= device_state.esc14_v %>
  </p>

  <p>
    <strong>Esc14 a:</strong>
    <%= device_state.esc14_a %>
  </p>

  <p>
    <strong>Esc14 temp c:</strong>
    <%= device_state.esc14_temp_c %>
  </p>

  <p>
    <strong>Esc14 rpm:</strong>
    <%= device_state.esc14_rpm %>
  </p>

  <p>
    <strong>Esc15 v:</strong>
    <%= device_state.esc15_v %>
  </p>

  <p>
    <strong>Esc15 a:</strong>
    <%= device_state.esc15_a %>
  </p>

  <p>
    <strong>Esc15 temp c:</strong>
    <%= device_state.esc15_temp_c %>
  </p>

  <p>
    <strong>Esc15 rpm:</strong>
    <%= device_state.esc15_rpm %>
  </p>

  <p>
    <strong>Esc16 v:</strong>
    <%= device_state.esc16_v %>
  </p>

  <p>
    <strong>Esc16 a:</strong>
    <%= device_state.esc16_a %>
  </p>

  <p>
    <strong>Esc16 temp c:</strong>
    <%= device_state.esc16_temp_c %>
  </p>

  <p>
    <strong>Esc16 rpm:</strong>
    <%= device_state.esc16_rpm %>
  </p>

  <p>
    <strong>Efi rpm:</strong>
    <%= device_state.efi_rpm %>
  </p>

  <p>
    <strong>Efi fuel pressure bar:</strong>
    <%= device_state.efi_fuel_pressure_bar %>
  </p>

  <p>
    <strong>Efi intake temp c:</strong>
    <%= device_state.efi_intake_temp_c %>
  </p>

  <p>
    <strong>Efi exhaust temp c:</strong>
    <%= device_state.efi_exhaust_temp_c %>
  </p>

  <p>
    <strong>Efi fuel flow lps:</strong>
    <%= device_state.efi_fuel_flow_lps %>
  </p>

  <p>
    <strong>Efi fuel percent:</strong>
    <%= device_state.efi_fuel_percent %>
  </p>

  <p>
    <strong>Efi baro:</strong>
    <%= device_state.efi_baro %>
  </p>

  <p>
    <strong>Efi load:</strong>
    <%= device_state.efi_load %>
  </p>

  <p>
    <strong>Throttle angle:</strong>
    <%= device_state.throttle_angle %>
  </p>

  <p>
    <strong>Brake angle:</strong>
    <%= device_state.brake_angle %>
  </p>

  <p>
    <strong>Steering wheel angle:</strong>
    <%= device_state.steering_wheel_angle %>
  </p>

  <p>
    <strong>Turn signal:</strong>
    <%= device_state.turn_signal %>
  </p>

  <p>
    <strong>Xpdr adsb tx sys fail:</strong>
    <%= device_state.xpdr_adsb_tx_sys_fail %>
  </p>

  <p>
    <strong>Xpdr airborne status:</strong>
    <%= device_state.xpdr_airborne_status %>
  </p>

  <p>
    <strong>Xpdr board temperature c:</strong>
    <%= device_state.xpdr_board_temperature_c %>
  </p>

  <p>
    <strong>Xpdr es1090 tx enable:</strong>
    <%= device_state.xpdr_es1090_tx_enable %>
  </p>

  <p>
    <strong>Xpdr flight:</strong>
    <%= device_state.xpdr_flight_id %>
  </p>

  <p>
    <strong>Xpdr gps no fix:</strong>
    <%= device_state.xpdr_gps_no_fix %>
  </p>

  <p>
    <strong>Xpdr gps unavail:</strong>
    <%= device_state.xpdr_gps_unavail %>
  </p>

  <p>
    <strong>Xpdr ident active:</strong>
    <%= device_state.xpdr_ident_active %>
  </p>

  <p>
    <strong>Xpdr interrogated since:</strong>
    <%= device_state.xpdr_interrogated_since %>
  </p>

  <p>
    <strong>Xpdr maint req:</strong>
    <%= device_state.xpdr_maint_req %>
  </p>

  <p>
    <strong>Xpdr mode a enable:</strong>
    <%= device_state.xpdr_mode_A_enable %>
  </p>

  <p>
    <strong>Xpdr mode a squawk:</strong>
    <%= device_state.xpdr_mode_A_squawk %>
  </p>

  <p>
    <strong>Xpdr mode c enable:</strong>
    <%= device_state.xpdr_mode_C_enable %>
  </p>

  <p>
    <strong>Xpdr mode s enable:</strong>
    <%= device_state.xpdr_mode_S_enable %>
  </p>

  <p>
    <strong>Xpdr nacp:</strong>
    <%= device_state.xpdr_nacp %>
  </p>

  <p>
    <strong>Xpdr nic:</strong>
    <%= device_state.xpdr_nic %>
  </p>

  <p>
    <strong>Xpdr status pending:</strong>
    <%= device_state.xpdr_status_pending %>
  </p>

  <p>
    <strong>Xpdr status unavail:</strong>
    <%= device_state.xpdr_status_unavail %>
  </p>

  <p>
    <strong>Xpdr x bit status:</strong>
    <%= device_state.xpdr_x_bit_status %>
  </p>

  <p>
    <strong>Cell rssi dbm:</strong>
    <%= device_state.cell_rssi_dbm %>
  </p>

  <p>
    <strong>Cell rsrp:</strong>
    <%= device_state.cell_rsrp %>
  </p>

  <p>
    <strong>Cell rsrq:</strong>
    <%= device_state.cell_rsrq %>
  </p>

  <p>
    <strong>Cell sinr:</strong>
    <%= device_state.cell_sinr %>
  </p>

  <p>
    <strong>Cell network type:</strong>
    <%= device_state.cell_network_type %>
  </p>

  <p>
    <strong>Cell:</strong>
    <%= device_state.cell_id %>
  </p>

  <p>
    <strong>Cell connection state:</strong>
    <%= device_state.cell_connection_state %>
  </p>

  <p>
    <strong>Cell network registration state:</strong>
    <%= device_state.cell_network_registration_state %>
  </p>

  <p>
    <strong>Cell retry count:</strong>
    <%= device_state.cell_retry_count %>
  </p>

  <p>
    <strong>Cell latency ms:</strong>
    <%= device_state.cell_latency_ms %>
  </p>

  <p>
    <strong>Cell ip:</strong>
    <%= device_state.cell_ip %>
  </p>

  <p>
    <strong>Cell network bytes sent:</strong>
    <%= device_state.cell_network_bytes_sent %>
  </p>

  <p>
    <strong>Cell network bytes recevied:</strong>
    <%= device_state.cell_network_bytes_recevied %>
  </p>

  <p>
    <strong>Cell network bps up:</strong>
    <%= device_state.cell_network_bps_up %>
  </p>

  <p>
    <strong>Cell network bps down:</strong>
    <%= device_state.cell_network_bps_down %>
  </p>

  <p>
    <strong>Wifi ssid:</strong>
    <%= device_state.wifi_ssid %>
  </p>

  <p>
    <strong>Wifi bssid:</strong>
    <%= device_state.wifi_bssid %>
  </p>

  <p>
    <strong>Wifi rssi dbm:</strong>
    <%= device_state.wifi_rssi_dbm %>
  </p>

  <p>
    <strong>Wifi snr db:</strong>
    <%= device_state.wifi_snr_db %>
  </p>

  <p>
    <strong>Wifi link speed mbps:</strong>
    <%= device_state.wifi_link_speed_mbps %>
  </p>

  <p>
    <strong>Wifi band:</strong>
    <%= device_state.wifi_band %>
  </p>

  <p>
    <strong>Wifi channel:</strong>
    <%= device_state.wifi_channel %>
  </p>

  <p>
    <strong>Wifi ip address:</strong>
    <%= device_state.wifi_ip_address %>
  </p>

  <p>
    <strong>Wifi connection status:</strong>
    <%= device_state.wifi_connection_status %>
  </p>

  <p>
    <strong>Wifi uptime sec:</strong>
    <%= device_state.wifi_uptime_sec %>
  </p>

  <p>
    <strong>Wifi bytes sent:</strong>
    <%= device_state.wifi_bytes_sent %>
  </p>

  <p>
    <strong>Wifi bytes received:</strong>
    <%= device_state.wifi_bytes_received %>
  </p>

  <p>
    <strong>Mac address:</strong>
    <%= device_state.mac_address %>
  </p>

  <p>
    <strong>Ethernet link status:</strong>
    <%= device_state.ethernet_link_status %>
  </p>

  <p>
    <strong>Ethernet speed:</strong>
    <%= device_state.ethernet_speed %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= device_state.ip_address %>
  </p>

  <p>
    <strong>Subnet mask:</strong>
    <%= device_state.subnet_mask %>
  </p>

  <p>
    <strong>Default gateway:</strong>
    <%= device_state.default_gateway %>
  </p>

  <p>
    <strong>Dhcp status:</strong>
    <%= device_state.dhcp_status %>
  </p>

  <p>
    <strong>Dhcp lease:</strong>
    <%= device_state.dhcp_lease %>
  </p>

  <p>
    <strong>Ham radio rx hz:</strong>
    <%= device_state.ham_radio_rx_hz %>
  </p>

  <p>
    <strong>Ham radio tx hz:</strong>
    <%= device_state.ham_radio_tx_hz %>
  </p>

  <p>
    <strong>Ham radio watts:</strong>
    <%= device_state.ham_radio_watts %>
  </p>

  <p>
    <strong>Ham radio enable:</strong>
    <%= device_state.ham_radio_enable %>
  </p>

  <p>
    <strong>Ham radio v:</strong>
    <%= device_state.ham_radio_v %>
  </p>

  <p>
    <strong>Ham radio a:</strong>
    <%= device_state.ham_radio_a %>
  </p>

  <p>
    <strong>Heater1 v:</strong>
    <%= device_state.heater1_v %>
  </p>

  <p>
    <strong>Heater1 a:</strong>
    <%= device_state.heater1_a %>
  </p>

  <p>
    <strong>Heater1 temp c:</strong>
    <%= device_state.heater1_temp_c %>
  </p>

  <p>
    <strong>Heater2 v:</strong>
    <%= device_state.heater2_v %>
  </p>

  <p>
    <strong>Heater2 a:</strong>
    <%= device_state.heater2_a %>
  </p>

  <p>
    <strong>Heater2 temp c:</strong>
    <%= device_state.heater2_temp_c %>
  </p>

  <p>
    <strong>Heater3 v:</strong>
    <%= device_state.heater3_v %>
  </p>

  <p>
    <strong>Heater3 a:</strong>
    <%= device_state.heater3_a %>
  </p>

  <p>
    <strong>Heater3 temp c:</strong>
    <%= device_state.heater3_temp_c %>
  </p>

  <p>
    <strong>Heater4 v:</strong>
    <%= device_state.heater4_v %>
  </p>

  <p>
    <strong>Heater4 a:</strong>
    <%= device_state.heater4_a %>
  </p>

  <p>
    <strong>Heater4 temp c:</strong>
    <%= device_state.heater4_temp_c %>
  </p>

  <p>
    <strong>Humidity1:</strong>
    <%= device_state.humidity1 %>
  </p>

  <p>
    <strong>Humidity2:</strong>
    <%= device_state.humidity2 %>
  </p>

  <p>
    <strong>Fan1 v:</strong>
    <%= device_state.fan1_v %>
  </p>

  <p>
    <strong>Fan1 a:</strong>
    <%= device_state.fan1_a %>
  </p>

  <p>
    <strong>Fan1 rpm:</strong>
    <%= device_state.fan1_rpm %>
  </p>

  <p>
    <strong>Fan2 v:</strong>
    <%= device_state.fan2_v %>
  </p>

  <p>
    <strong>Fan2 a:</strong>
    <%= device_state.fan2_a %>
  </p>

  <p>
    <strong>Fan2 rpm:</strong>
    <%= device_state.fan2_rpm %>
  </p>

  <p>
    <strong>Rangefinder1 m:</strong>
    <%= device_state.rangefinder1_m %>
  </p>

  <p>
    <strong>Rangefinder2 m:</strong>
    <%= device_state.rangefinder2_m %>
  </p>

  <p>
    <strong>Rangefinder3 m:</strong>
    <%= device_state.rangefinder3_m %>
  </p>

  <p>
    <strong>Rangefinder4 m:</strong>
    <%= device_state.rangefinder4_m %>
  </p>

  <p>
    <strong>Rangefinder5 m:</strong>
    <%= device_state.rangefinder5_m %>
  </p>

  <p>
    <strong>Rangefinder6 m:</strong>
    <%= device_state.rangefinder6_m %>
  </p>

  <p>
    <strong>Rangefinder7 m:</strong>
    <%= device_state.rangefinder7_m %>
  </p>

  <p>
    <strong>Rangefinder8 m:</strong>
    <%= device_state.rangefinder8_m %>
  </p>

  <p>
    <strong>Solar1 v:</strong>
    <%= device_state.solar1_v %>
  </p>

  <p>
    <strong>Solar1 a:</strong>
    <%= device_state.solar1_a %>
  </p>

  <p>
    <strong>Solar2 v:</strong>
    <%= device_state.solar2_v %>
  </p>

  <p>
    <strong>Solar2 a:</strong>
    <%= device_state.solar2_a %>
  </p>

  <p>
    <strong>Charge v:</strong>
    <%= device_state.charge_v %>
  </p>

  <p>
    <strong>Charge a:</strong>
    <%= device_state.charge_a %>
  </p>

  <p>
    <strong>Mag1:</strong>
    <%= device_state.mag1 %>
  </p>

  <p>
    <strong>Mag2:</strong>
    <%= device_state.mag2 %>
  </p>

  <p>
    <strong>Mag3:</strong>
    <%= device_state.mag3 %>
  </p>

  <p>
    <strong>Mag4:</strong>
    <%= device_state.mag4 %>
  </p>

  <p>
    <strong>Button1:</strong>
    <%= device_state.button1 %>
  </p>

  <p>
    <strong>Button2:</strong>
    <%= device_state.button2 %>
  </p>

  <p>
    <strong>Switch1:</strong>
    <%= device_state.switch1 %>
  </p>

  <p>
    <strong>Switch2:</strong>
    <%= device_state.switch2 %>
  </p>

  <p>
    <strong>Load cell1 n:</strong>
    <%= device_state.load_cell1_n %>
  </p>

  <p>
    <strong>Load cell2 n:</strong>
    <%= device_state.load_cell2_n %>
  </p>

  <p>
    <strong>Load cell3 n:</strong>
    <%= device_state.load_cell3_n %>
  </p>

  <p>
    <strong>Load cell4 n:</strong>
    <%= device_state.load_cell4_n %>
  </p>

  <p>
    <strong>Current sensor1 ma:</strong>
    <%= device_state.current_sensor1_ma %>
  </p>

  <p>
    <strong>Current sensor2 ma:</strong>
    <%= device_state.current_sensor2_ma %>
  </p>

  <p>
    <strong>Current sensor3 ma:</strong>
    <%= device_state.current_sensor3_ma %>
  </p>

  <p>
    <strong>Current sensor4 ma:</strong>
    <%= device_state.current_sensor4_ma %>
  </p>

  <p>
    <strong>Current sensor5 ma:</strong>
    <%= device_state.current_sensor5_ma %>
  </p>

  <p>
    <strong>Current sensor6 ma:</strong>
    <%= device_state.current_sensor6_ma %>
  </p>

  <p>
    <strong>Current sensor7 ma:</strong>
    <%= device_state.current_sensor7_ma %>
  </p>

  <p>
    <strong>Current sensor8 ma:</strong>
    <%= device_state.current_sensor8_ma %>
  </p>

  <p>
    <strong>Voltage sensor1 mv:</strong>
    <%= device_state.voltage_sensor1_mv %>
  </p>

  <p>
    <strong>Voltage sensor2 mv:</strong>
    <%= device_state.voltage_sensor2_mv %>
  </p>

  <p>
    <strong>Voltage sensor3 mv:</strong>
    <%= device_state.voltage_sensor3_mv %>
  </p>

  <p>
    <strong>Voltage sensor4 mv:</strong>
    <%= device_state.voltage_sensor4_mv %>
  </p>

  <p>
    <strong>Voltage sensor5 mv:</strong>
    <%= device_state.voltage_sensor5_mv %>
  </p>

  <p>
    <strong>Voltage sensor6 mv:</strong>
    <%= device_state.voltage_sensor6_mv %>
  </p>

  <p>
    <strong>Voltage sensor7 mv:</strong>
    <%= device_state.voltage_sensor7_mv %>
  </p>

  <p>
    <strong>Voltage sensor9 mv:</strong>
    <%= device_state.voltage_sensor9_mv %>
  </p>

  <p>
    <strong>Digital output1:</strong>
    <%= device_state.digital_output1 %>
  </p>

  <p>
    <strong>Digital output2:</strong>
    <%= device_state.digital_output2 %>
  </p>

  <p>
    <strong>Digital output3:</strong>
    <%= device_state.digital_output3 %>
  </p>

  <p>
    <strong>Digital output4:</strong>
    <%= device_state.digital_output4 %>
  </p>

  <p>
    <strong>Digital output5:</strong>
    <%= device_state.digital_output5 %>
  </p>

  <p>
    <strong>Digital output6:</strong>
    <%= device_state.digital_output6 %>
  </p>

  <p>
    <strong>Digital output7:</strong>
    <%= device_state.digital_output7 %>
  </p>

  <p>
    <strong>Digital output8:</strong>
    <%= device_state.digital_output8 %>
  </p>

  <p>
    <strong>Digital input1:</strong>
    <%= device_state.digital_input1 %>
  </p>

  <p>
    <strong>Digital input2:</strong>
    <%= device_state.digital_input2 %>
  </p>

  <p>
    <strong>Digital input3:</strong>
    <%= device_state.digital_input3 %>
  </p>

  <p>
    <strong>Digital input4:</strong>
    <%= device_state.digital_input4 %>
  </p>

  <p>
    <strong>Digital input5:</strong>
    <%= device_state.digital_input5 %>
  </p>

  <p>
    <strong>Digital input6:</strong>
    <%= device_state.digital_input6 %>
  </p>

  <p>
    <strong>Digital input7:</strong>
    <%= device_state.digital_input7 %>
  </p>

  <p>
    <strong>Digital input8:</strong>
    <%= device_state.digital_input8 %>
  </p>

  <p>
    <strong>Analog output1:</strong>
    <%= device_state.analog_output1 %>
  </p>

  <p>
    <strong>Analog output2:</strong>
    <%= device_state.analog_output2 %>
  </p>

  <p>
    <strong>Analog output3:</strong>
    <%= device_state.analog_output3 %>
  </p>

  <p>
    <strong>Analog output4:</strong>
    <%= device_state.analog_output4 %>
  </p>

  <p>
    <strong>Analog output5:</strong>
    <%= device_state.analog_output5 %>
  </p>

  <p>
    <strong>Analog output6:</strong>
    <%= device_state.analog_output6 %>
  </p>

  <p>
    <strong>Analog output7:</strong>
    <%= device_state.analog_output7 %>
  </p>

  <p>
    <strong>Analog output8:</strong>
    <%= device_state.analog_output8 %>
  </p>

  <p>
    <strong>Hall1 angle degrees:</strong>
    <%= device_state.hall1_angle_degrees %>
  </p>

  <p>
    <strong>Hall2 angle degrees:</strong>
    <%= device_state.hall2_angle_degrees %>
  </p>

  <p>
    <strong>Hall3 angle degrees:</strong>
    <%= device_state.hall3_angle_degrees %>
  </p>

  <p>
    <strong>Hall4 angle degrees:</strong>
    <%= device_state.hall4_angle_degrees %>
  </p>

  <p>
    <strong>Hall5 angle degrees:</strong>
    <%= device_state.hall5_angle_degrees %>
  </p>

  <p>
    <strong>Hall6 angle degrees:</strong>
    <%= device_state.hall6_angle_degrees %>
  </p>

  <p>
    <strong>Hall7 angle degrees:</strong>
    <%= device_state.hall7_angle_degrees %>
  </p>

  <p>
    <strong>Hall8 angle degrees:</strong>
    <%= device_state.hall8_angle_degrees %>
  </p>

  <p>
    <strong>Hall1 presence:</strong>
    <%= device_state.hall1_presence %>
  </p>

  <p>
    <strong>Hall2 presence:</strong>
    <%= device_state.hall2_presence %>
  </p>

  <p>
    <strong>Hall3 presence:</strong>
    <%= device_state.hall3_presence %>
  </p>

  <p>
    <strong>Hall4 presence:</strong>
    <%= device_state.hall4_presence %>
  </p>

  <p>
    <strong>Hall5 presence:</strong>
    <%= device_state.hall5_presence %>
  </p>

  <p>
    <strong>Hall6 presence:</strong>
    <%= device_state.hall6_presence %>
  </p>

  <p>
    <strong>Hall7 presence:</strong>
    <%= device_state.hall7_presence %>
  </p>

  <p>
    <strong>Hall8 presence:</strong>
    <%= device_state.hall8_presence %>
  </p>

  <p>
    <strong>Geiger mrad:</strong>
    <%= device_state.geiger_mrad %>
  </p>

  <p>
    <strong>Color r:</strong>
    <%= device_state.color_r %>
  </p>

  <p>
    <strong>Color g:</strong>
    <%= device_state.color_g %>
  </p>

  <p>
    <strong>Color b:</strong>
    <%= device_state.color_b %>
  </p>

  <p>
    <strong>Text1:</strong>
    <%= device_state.text1 %>
  </p>

  <p>
    <strong>Text2:</strong>
    <%= device_state.text2 %>
  </p>

  <p>
    <strong>Text3:</strong>
    <%= device_state.text3 %>
  </p>

  <p>
    <strong>Text4:</strong>
    <%= device_state.text4 %>
  </p>

  <p>
    <strong>Text5:</strong>
    <%= device_state.text5 %>
  </p>

  <p>
    <strong>Text6:</strong>
    <%= device_state.text6 %>
  </p>

  <p>
    <strong>Text7:</strong>
    <%= device_state.text7 %>
  </p>

  <p>
    <strong>Text8:</strong>
    <%= device_state.text8 %>
  </p>

</div>
