<details>
<summary>RF</summary>
  <ul>
    <li>
      <var>Ham radio RX (Hz):</var>
      <var class="value"><%= device_state.ham_radio_rx_hz %></var>
    </li>

    <li>
      <var>Ham radio TX (Hz):</var>
      <var class="value"><%= device_state.ham_radio_tx_hz %></var>
    </li>

    <li>
      <var>Ham radio output power (Watts):</var>
      <var class="value"><%= device_state.ham_radio_watts %></var>
    </li>

    <li>
      <var>Ham radio enable:</var>
      <var class="value"><%= device_state.ham_radio_enable %></var>
    </li>

    <li>
      <var>Ham radio supply voltage (V):</var>
      <var class="value"><%= device_state.ham_radio_v %></var>
    </li>

    <li>
      <var>Ham radio supply current (A):</var>
      <var class="value"><%= device_state.ham_radio_a %></var>
    </li>
  </ul>
  </details>
