<details>
<summary>EFI</summary>
  <ul>
    <li>
      <var>Efi rpm:</var>
      <var class="value"><%= device_state.efi_rpm %></var>
    </li>

    <li>
      <var>Efi fuel pressure (bar):</var>
      <var class="value"><%= device_state.efi_fuel_pressure_bar %></var>
    </li>

    <li>
      <var>Efi intake temp (°C):</var>
      <var class="value"><%= device_state.efi_intake_temp_c %></var>
    </li>

    <li>
      <var>Efi exhaust temp (°C):</var>
      <var class="value"><%= device_state.efi_exhaust_temp_c %></var>
    </li>

    <li>
      <var>Efi fuel flow (l/s):</var>
      <var class="value"><%= device_state.efi_fuel_flow_lps %></var>
    </li>

    <li>
      <var>Efi fuel percent:</var>
      <var class="value"><%= device_state.efi_fuel_percent %>%</var>
    </li>

    <li>
      <var>Efi barometric pressure (kPa):</var>
      <var class="value"><%= device_state.efi_baro %></var>
    </li>

    <li>
      <var>Efi load percent:</var>
      <var class="value"><%= device_state.efi_load %>%</var>
    </li>

    <li>
      <var>Throttle angle (°):</var>
      <var class="value"><%= device_state.throttle_angle %></var>
    </li>

    <li>
      <var>Brake angle (°):</var>
      <var class="value"><%= device_state.brake_angle %></var>
    </li>

    <li>
      <var>Steering wheel angle (°):</var>
      <var class="value"><%= device_state.steering_wheel_angle %></var>
    </li>

    <li>
      <var>Turn signal:</var>
      <var class="value"><%= device_state.turn_signal %></var>
    </li>
  </ul>
  </details>
