<details>
<summary>XPDR</summary>
  <ul>
    <li>
      <var>Xpdr adsb tx sys fail:</var>
      <var class="value"><%= device_state.xpdr_adsb_tx_sys_fail %></var>
    </li>

    <li>
      <var>Xpdr airborne status:</var>
      <var class="value"><%= device_state.xpdr_airborne_status %></var>
    </li>

    <li>
      <var>Xpdr board temperature c:</var>
      <var class="value"><%= device_state.xpdr_board_temperature_c %></var>
    </li>

    <li>
      <var>Xpdr es1090 tx enable:</var>
      <var class="value"><%= device_state.xpdr_es1090_tx_enable %></var>
    </li>

    <li>
      <var>Xpdr flight:</var>
      <var class="value"><%= device_state.xpdr_flight_id %></var>
    </li>

    <li>
      <var>Xpdr gps no fix:</var>
      <var class="value"><%= device_state.xpdr_gps_no_fix %></var>
    </li>

    <li>
      <var>Xpdr gps unavail:</var>
      <var class="value"><%= device_state.xpdr_gps_unavail %></var>
    </li>

    <li>
      <var>Xpdr ident active:</var>
      <var class="value"><%= device_state.xpdr_ident_active %></var>
    </li>

    <li>
      <var>Xpdr interrogated since:</var>
      <var class="value"><%= device_state.xpdr_interrogated_since %></var>
    </li>

    <li>
      <var>Xpdr maint req:</var>
      <var class="value"><%= device_state.xpdr_maint_req %></var>
    </li>

    <li>
      <var>Xpdr mode a enable:</var>
      <var class="value"><%= device_state.xpdr_mode_A_enable %></var>
    </li>

    <li>
      <var>Xpdr mode a squawk:</var>
      <var class="value"><%= device_state.xpdr_mode_A_squawk %></var>
    </li>

    <li>
      <var>Xpdr mode c enable:</var>
      <var class="value"><%= device_state.xpdr_mode_C_enable %></var>
    </li>

    <li>
      <var>Xpdr mode s enable:</var>
      <var class="value"><%= device_state.xpdr_mode_S_enable %></var>
    </li>

    <li>
      <var>Xpdr nacp:</var>
      <var class="value"><%= device_state.xpdr_nacp %></var>
    </li>

    <li>
      <var>Xpdr nic:</var>
      <var class="value"><%= device_state.xpdr_nic %></var>
    </li>

    <li>
      <var>Xpdr status pending:</var>
      <var class="value"><%= device_state.xpdr_status_pending %></var>
    </li>

    <li>
      <var>Xpdr status unavail:</var>
      <var class="value"><%= device_state.xpdr_status_unavail %></var>
    </li>

    <li>
      <var>Xpdr x bit status:</var>
      <var class="value"><%= device_state.xpdr_x_bit_status %></var>
    </li>
  </ul>
</details>