<details>
  <Summary>IMU</Summary>
  <ul>
    <li>
      <var>Vibe X:</var>
      <var class="value"><%= device_state.vibex %></var>
    </li>

    <li>
      <var>Vibe Y:</var>
      <var class="value"><%= device_state.vibey %></var>
    </li>

    <li>
      <var>Vibe Z:</var>
      <var class="value"><%= device_state.vibez %></var>
    </li>

    <li>
      <var>Heading (°):</var>
      <var class="value"><%= device_state.heading_deg %></var>
    </li>

    <li>
      <var>Roll (°):</var>
      <var class="value"><%= device_state.roll_deg %></var>
    </li>

    <li>
      <var>Yaw (°):</var>
      <var class="value"><%= device_state.yaw_deg %></var>
    </li>

    <li>
      <var>Landed:</var>
      <var class="value"><%= device_state.landed %></var>
    </li>

    <li>
      <var>Landed State:</var>
      <var class="value"><%= device_state.landed_state %></var>
    </li>

    <li>
      <var>Time in Air:</var>
      <var class="value"><%= device_state.timeInAir %></var>
    </li>

    <li>
      <var>Extended 1:</var>
      <var class="value"><%= device_state.extended1 %></var>
    </li>

    <li>
      <var>Extend 1:</var>
      <var class="value"><%= device_state.extend1 %></var>
    </li>

    <li> 
      <var>Extended 2:</var>
      <var class="value"><%= device_state.extended2 %></var>
    </li>

    <li>
      <var>Extend 2:</var>
      <var class="value"><%= device_state.extend2 %></var>
    </li>

    <li>
      <var>Maglock:</var>
      <var class="value"><%= device_state.maglock %></var>
    </li>

    <li>
      <var>Laser:</var>
      <var class="value"><%= device_state.laser %></var>
    </li>

    <li>
      <var>Headlight:</var>
      <var class="value"><%= device_state.headlight %></var>
    </li>

    <li>
      <var>Spotlight:</var>
      <var class="value"><%= device_state.spotlight %></var>
    </li>

    <li>
      <var>Ax 1:</var>
      <var class="value"><%= device_state.ax1 %></var>
    </li>

    <li>
      <var>Ay 1:</var>
      <var class="value"><%= device_state.ay1 %></var>
    </li>

    <li>
      <var>Az 1:</var>
      <var class="value"><%= device_state.az1 %></var>
    </li>

    <li>
      <var>Ax 2:</var>
      <var class="value"><%= device_state.ax2 %></var>
    </li>

    <li> 
      <var>Ay 2:</var>
      <var class="value"><%= device_state.ay2 %></var>
    </li>

    <li>
      <var>Az 2:</var>
      <var class="value"><%= device_state.az2 %></var>
    </li>

    <li>
      <var>Ax 3:</var>
      <var class="value"><%= device_state.ax3 %></var>
    </li>

    <li>
      <var>Ay 3:</var>
      <var class="value"><%= device_state.ay3 %></var>
    </li>

    <li>
      <var>Az 3:</var>
      <var class="value"><%= device_state.az3 %></var>
    </li>

    <li>
      <var>Vx:</var>
      <var class="value"><%= device_state.vx %></var>
    </li>

    <li>
      <var>Vy:</var>
      <var class="value"><%= device_state.vy %></var>
    </li>

    <li>
      <var>Vz:</var>
      <var class="value"><%= device_state.vz %></var>
    </li>

    <li>
      <var>IMU 1 Temp (°C):</var>
      <var class="value"><%= device_state.imu1_temp_c %></var>
    </li>

    <li>
      <var>IMU 2 Temp (°C):</var>
      <var class="value"><%= device_state.imu2_temp_c %></var>
    </li>

    <li>
      <var>IMU 3 Temp (°C):</var>
      <var class="value"><%= device_state.imu3_temp_c %></var>
    </li>
  </ul>
</details>