<div id="<%= dom_id command %>">
  <p>
    <strong>Device:</strong>
    <%= command.Device_id %>
  </p>

  <p>
    <strong>Trigger time:</strong>
    <%= command.trigger_time %>
  </p>

  <p>
    <strong>Command:</strong>
    <%= command.command %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= command.status %>
  </p>

  <p>
    <strong>commandtype:</strong>
    <%= command.commandtype %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= command.result %>
  </p>

</div>
